<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/brainchecker/brainchecker-mit.jpg" alt="" title=""
        style="width: 100%;" />
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-4 mb-3">Brain Checker Engineering Sorter Test (BEST)</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <p class="text-justify">Every year in India, approximately 10-12 Lakh students appear for the IIT
                    Entrance Exams along with 20 Lakh students appearing for state level engineering entrance exams.
                    With more than 32 Lakh students vying Top Engineering Colleges in India each year, the race to the
                    best colleges is simply not easy. </p>
                <p class="text-justify">Top that up with, 15 Lakh qualified engineering entering the job market every
                    year, that’s twice the population of Iceland!However, the most worry some fact is that less than 5%
                    Engineering Aspirants are fully aware about their career options and less than 14% of Engineers are
                    employable in the actual job market!The main reason, for this is that students, who plan to be
                    Engineers, aren’t planning for their specialisation based on their interest or the market outlook.
                </p>
            </div>
            <div class="col-md-6 text-end">
                <iframe width="555" height="250" src="https://www.youtube.com/embed/dJu53v6bzBM"
                    title="Brain Checker Engineering Sorter Test BEST" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <p class="text-justify mt-3">The Brain Checker Engineering Sorter Test is a one-of-a-kind interest inventory
            designed to evaluate your suitable engineering domain. The Test is designed for students between 7th to
            12th, who would be evaluated based on their interest and preferences. The Engineering Sorter Test evaluates
            the test taker on 100+ Engineering Specialisations and is able to help the student shortlist their suitable
            seven engineering options based on their responses.</p>

        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Engineering Sorter Highlights:</h3>
                <ul>
                    <li>A 45 Minute Test with 155 Questions, divided in 4 sections</li>
                    <li>Based on Dr Edward Kellogg Strong’ Interest Inventory</li>
                    <li>Identifies preferences & interests in arriving at Top 15 Suitable Engineering Options</li>
                    <li>Projected Demand Curve for Year 2030 to understand “Market Demand”</li>
                    <li>Detailed Job Profile Evaluation & Responsibilities of Top 7 Suitable Options</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Engineering Sorter Benefits:</h3>
                <ul>
                    <li>Student’s gain access to unique Engineering Choices</li>
                    <li>Eg: Fire Engineering, Alcohol Engineering, Geo-Technical Engineering & more.</li>
                    <li>Systematic Evaluation of Preferences & Cross Mapping with Engineering Careers</li>
                    <li>26 Paged Unique Analysis with Personalized Counseling</li>
                </ul>
            </div>
        </div>
    </div>
</div>