<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/about/staff.png" alt="" title="" style="width: 100%;">
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-2 mb-3">Our Resource</h1>
        <p class="text-justify">With many years of experience in education, International Ecademy staff and
            administrators are
            experts in delivering high-quality education. Our administrative team has
            shaped the educational programme and designed across the
            world wide, being at the forefront in the introduction and development of online education, and
            developing a 21st Century Pedagogy that will best prepare students to be successful in a competitive global
            community.</p>

        <div class="container mb-3">
            <div class="row text-center">
                <div class="col-xs-12 col-md-12">
                    <br>
                    <img class="a-info-style-image" src="assets/images/stayintouch.jpg" title="Comming Soon..!"
                        style="width: 60%;" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Nazzareno Fiscaletti">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Principal</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Nazzareno Fiscaletti.jpg"
                                    style="width: 60%; border-radius: 5%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Nazzareno Fiscaletti</h4>
                        <h5 class="mt-3 text-secondary">(B.Sc, B.Ed., M.Ed., OCT)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Michael Mastragostino">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Director of Operations</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Michael Mastragostino.jpg"
                                    style="width: 60%; border-radius: 5%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Michael Mastragostino</h4>
                        <h5 class="mt-3 text-secondary">(B.A., B.Ed., M.Ed., OCT)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Laura Fiscaletti">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Director of Operations</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Laura Fiscaletti.jpg"
                                    style="width: 60%; border-radius: 50%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Laura Fiscaletti</h4>
                        <h5 class="mt-3 text-secondary">(B.A)</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Paul Mamiani">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Instructor</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Paul Mamiani.jpg"
                                    style="width: 60%; border-radius: 5%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Paul Mamiani</h4>
                        <h5 class="mt-3 text-secondary">(B.A., B.Ed., OCT)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Victor J. Paluck">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Instructor</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Victor J. Paluck.jpg"
                                    style="width: 60%; border-radius: 5%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Victor J. Paluck</h4>
                        <h5 class="mt-3 text-secondary">(B.A., B.Ed)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Christina D’ Ammizio">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Instructor</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Christina D’ Ammizio.jpg"
                                    style="width: 60%; border-radius: 50%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Christina D’ Ammizio</h4>
                        <h5 class="mt-3 text-secondary">(B.A., B.Ed., OCT)</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Ezio Crescenzi">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Board Of Director</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Ezio Crescenzi.jpg"
                                    style="width: 60%; border-radius: 5%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Ezio Crescenzi</h4>
                        <h5 class="mt-3 text-secondary">-</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center">

        </div>
        <div class="col-md-4 text-center">
            <a (click)="fnEnglishShow()" type="button" title="Adelina Wong">
                <div class="card imgShadow-AllSides">
                    <div class="card-header bg-transparent text-danger">
                        <h2>Board Of Director</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center text-success">
                                <img class="imgShadow-AllSides" src="assets/images/staff/Adelina Wong.jpg"
                                    style="width: 60%; border-radius: 50%;" />
                            </div>
                        </div>
                        <h4 class="mt-3 text-success">Adelina Wong</h4>
                        <h5 class="mt-3 text-secondary">(R. Ph., B. Sc. Phm)</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> -->