<div class="page-position">
    <h1 class="text-center text-primary mb-3">Payment Gateway</h1>
    <div class="container">
        <div class="card border-primary">
            <form [formGroup]="paymentgatewayForm" (ngSubmit)="fnSubmit()">
                <div class="card-header">
                    <i class="fa fa-money fa-lg text-success"></i>&nbsp;&nbsp;<b class="text-danger">Payment</b>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                        <div class="col-md-1 text-end">
                            <label for="txtAmount" class="col-form-label-sm">Amount:<span class="lbl-req">
                                    *</span></label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" formControlName="txtAmount" placeholder="Pay Amount"
                                class="form-control form-control-sm"
                                [ngClass]="{ 'is-invalid': submitted && f['txtAmount'].errors }" />
                            <div *ngIf="submitted && f['txtAmount'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtAmount'].errors['required']"><small>Req.</small></div>
                            </div>
                        </div>
                        <div class="col-md-1 text-end">
                            <label for="txtCurrency" class="col-form-label-sm">Currency:<span class="lbl-req">
                                    *</span></label>
                        </div>
                        <div class="col-md-2">
                            <ng-select class="input-group small" formControlName="txtCurrency"
                                [ngClass]="{ 'is-invalid': submitted && f['txtCurrency'].errors }">
                                <ng-option *ngFor="let item of currency" [value]="item.id">{{item.name}}</ng-option>
                            </ng-select>
                            <div *ngIf="submitted && f['txtCurrency'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtCurrency'].errors['required']"><small>Req.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary save" (click)="fnSubmit()"><i
                                        class="fa fa-check fa-1x"></i><small>&nbsp;Submit</small>
                                </button> &nbsp;
                                <button type="reset" class="btn btn-success clear" (click)="fnClear()"><i
                                        class="fa fa-refresh fa-1x"></i><small>&nbsp;Clear</small>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>