<!-- GRADE 10 COURSES -->

<section class="ie-page ie-courses-page">

  <div class="container">

<!-- PAGE HEADER -->

<div class="text-center mb-4">

  <h1 class="ie-title-blue">

    Courses

    <span class="course-title-separator">
      –
    </span>

    <span class="ie-title-red">
      Grade 10
    </span>

  </h1>

</div>


<!-- COURSE CARDS -->

<div class="row g-4 mb-5">

  <div class="col-xl-4 col-lg-6 col-md-6 col-12"
       *ngFor="let item of courses">

    <!-- COURSE CARD -->

    <article class="ie-card ie-course-card">

      <!-- CARD HEADER -->

      <div class="ie-card-header">

        <div class="ie-course-header-row">

          <h2 class="ie-card-title mb-0 text-center">

            {{ item.code }} -
            {{ item.subject }}

          </h2>

        </div>

      </div>


      <!-- CARD BODY -->

      <div class="ie-card-body">

        <div class="row align-items-center g-4">

          <!-- COURSE INFORMATION -->

          <div class="col-12">

            <div class="ie-info-panel w-100">

              <!-- ANIMATED COURSE CODE -->

              <h2 class="ie-info-title">

                <span class="animated-course-code">

                  <span
                    *ngFor="
                      let letter of item.code.split('');
                      let i = index
                    "
                    class="animated-course-letter"
                    [style.animation-delay]="(i * 0.15) + 's'">

                    {{ letter }}

                  </span>

                </span>

              </h2>


              <!-- COURSE INFORMATION -->

              <div class="ie-info-details">

                <!-- CODE -->

                <div class="ie-info-row">

                  <span class="ie-info-label">
                    Code
                  </span>

                  <span class="ie-info-value">
                    {{ item.code }}
                  </span>

                </div>


                <!-- CREDITS -->

                <div class="ie-info-row">

                  <span class="ie-info-label">
                    Credits
                  </span>

                  <span class="ie-info-value">
                    {{ item.credits }}
                  </span>

                </div>


                <!-- GRADE -->

                <div class="ie-info-row">

                  <span class="ie-info-label">
                    Grade
                  </span>

                  <span class="ie-info-value">
                    {{ item.grade }}
                  </span>

                </div>


                <!-- PATHWAY -->

                <div class="ie-info-row">

                  <span class="ie-info-label">
                    Pathway
                  </span>

                  <span class="ie-info-value">
                    {{ item.pathway }}
                  </span>

                </div>

              </div>

            </div>


            <!-- COURSE BOTTOM ACTIONS -->

            <div class="ie-course-bottom-actions">


              <!-- DESCRIPTION BUTTON -->

              <div class="ie-description-button-wrapper">

                <button
                  type="button"
                  class="ie-course-read-more ie-description-button"
                  [title]="'Description for ' + item.code + ' - ' + item.subject">

                  Description

                </button>


                <!-- DESCRIPTION TOOLTIP -->

                <div class="ie-description-tooltip">

                  <div class="ie-description-tooltip-title">

                    {{ item.code }} - {{ item.subject }}

                  </div>


                  <div class="ie-description-tooltip-text">

                    {{ item.description }}

                  </div>

                </div>

              </div>


              <!-- VIEW BUTTON -->

              <button
                type="button"
                class="ie-course-read-more"
                (click)="open(content, item)"
                [title]="'View ' + item.code + ' - ' + item.subject">

                View

              </button>

            </div>

          </div>

        </div>

      </div>


      <!-- DESCRIPTION HOVER OVERLAY -->

      <div class="ie-course-description-overlay">

        <div class="ie-course-description-content">

          <!-- DESCRIPTION TITLE -->

          <h3>
            Description
          </h3>


          <!-- COURSE DESCRIPTION -->

          <p>
            {{ item.description }}
          </p>

        </div>

      </div>

    </article>

  </div>

</div>


<!-- COURSE DETAILS MODAL -->

<ng-template #content let-modal>

  <div class="ie-course-modal">


    <!-- MODAL HEADER -->

    <div class="ie-modal-header">

      <h2 class="ie-card-title mb-0">

        {{ selectedItem?.code }}

        <span class="course-title-separator">
          -
        </span>

        {{ selectedItem?.subject }}

      </h2>


      <!-- CLOSE BUTTON -->

      <button
        type="button"
        class="ie-modal-pill-button"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')">

        Close

      </button>

    </div>


    <!-- MODAL BODY -->

    <div class="ie-modal-body">


      <!-- COURSE INFORMATION TABLE -->

      <div class="ie-table-wrapper">

        <table class="ie-table">

          <thead>

            <tr>

              <th>
                Code
              </th>

              <th>
                Subject
              </th>

              <th>
                Credits
              </th>

              <th>
                Grade
              </th>

              <th>
                Pathway
              </th>

            </tr>

          </thead>


          <tbody>

            <tr>

              <td>
                {{ selectedItem?.code }}
              </td>

              <td>
                {{ selectedItem?.subject }}
              </td>

              <td>
                {{ selectedItem?.credits }}
              </td>

              <td>
                {{ selectedItem?.grade }}
              </td>

              <td>
                {{ selectedItem?.pathway }}
              </td>

            </tr>

          </tbody>

        </table>

      </div>


      <!-- COURSE DESCRIPTION -->

      <div class="ie-modal-description mt-3">

        <h3>
          Course Description
        </h3>

        <p>
          {{ selectedItem?.description }}
        </p>

      </div>

    </div>

  </div>

</ng-template>

  </div>

</section>
