<div class="page-position">
    <div class="text-center mb-3" style="background-color: rgb(245, 245, 245)">
        <img src="assets/images/erobotics.png" alt="" title="" style="width: 25%">
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-8 text-justify">
                <span class="sideHeading text-primary"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Overview</span>
                <ul>
                    <li>
                        <p class="mt-4"><b><i>E Robotics</i></b> Study Programs are designed to meet student's common
                            cognitive
                            abilities, and to00
                            encourage them to reach their inner potential.</p>
                    </li>
                    <li>
                        <p class="mb-4">The <b><i>E Robotics</i></b> program is designed to simplify the first year of a
                            computer science university
                            curriculum in a fun and easy to operate manner.</p>
                    </li>
                </ul>

                <span class="sideHeading text-primary"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Franchise</span>
                <ul class="mt-4">
                    <li class="mt-2">Growing Demand for STEM <i>(Science, Technology, Engineering, and Mathematics)</i>
                        Education.</li>
                    <li class="mt-2">Partner with us to revolutionize industries with cutting-edge robotic solutions.</li>
                    <li class="mt-2">Curriculum & Lesson Planning, Staffing and Training.</li>
                    <li class="mt-2">Partnerships with Schools & Community Centers</li>
                    <li class="mt-2">Market Your "E Robotics" Program, Choose Your Business Model.</li>
                </ul>

                <span class="sideHeading text-primary"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Fun Activity</span>
                <ul>
                    <li>
                        <p class="mt-4">Galileo Technic offers a broader knowledge of classical mechanics. Students will
                            explore
                            machines
                            from a professional engineering perspective, focusing on identifying solutions and promoting
                            teamwork to build mechanisms that are more complex than in the Bricks Challenge.</p>
                    </li>
                    <li>
                        <p class="mb-4">In each lesson, students will be required to use a higher level of
                            engineering-based
                            thinking by
                            considerring the physical and mathematical aspects of building an efficient machine.</p>
                    </li>
                </ul>

                <span class="sideHeading text-primary"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Learn from the
                    best..!</span>
                <ul>
                    <li>
                        <p class="mt-4">The <b><i>E Robotics</i></b> program takes the student's coding skills to the
                            next level
                            as they build
                            sophisticated models using the LEGO EV3 robotics system.</p>
                    </li>
                    <li>
                        <p class="mb-3">This program teaches coding in-depth and allows the student-engineers to put
                            their
                            skills to the
                            test. Teamwork is required to build advanced robots, teaching students that teamwork
                            produces
                            something amazing.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 center-item">
                <img src="assets/images/erobotics/2.png" title="E Robotics" style="width: 100%;">
            </div>
        </div>
        <div class="text-center mb-3">
            Please <a href="http://www.eroboticsservices.com" target="_blank" title="http://www.eroboticsservices.com"
                style="text-decoration: none;"> <b>Click here</b></a> for more information about <b>"E Robotics"</b>
        </div>
    </div>
</div>