<!-- =========================================================
     INTERNATIONAL ECADEMY
     GRADE 12 COURSES
========================================================= -->

<section class="ie-page">

  <div class="container">

    <!-- =====================================================
         PAGE HEADER
    ====================================================== -->

    <div class="ie-section-sm text-center">

      <h1 class="ie-title-red">
        Grade 12
      </h1>

      <h1 class="ie-title-blue">
        Courses
      </h1>

      <p class="ie-muted-text mt-3">
        Explore courses and build your academic pathway
      </p>

    </div>


    <!-- =====================================================
         COURSE TABLE
    ====================================================== -->

    <div class="ie-section-sm">

      <div class="table-responsive">

        <table class="ie-data-table">

          <thead>

            <tr>

              <th>
                S.No.
              </th>

              <th>
                Code
              </th>

              <th>
                Subject
              </th>

              <th>
                Credits
              </th>

              <th>
                Grade
              </th>

              <th>
                Pathway
              </th>

              <th>
                Description
              </th>

            </tr>

          </thead>


          <tbody>

            <tr
              *ngFor="
                let item of courses;
                let rowIndex = index
              "
            >

              <!-- S.No. -->

              <td>
                {{ rowIndex + 1 }}
              </td>


              <!-- Code -->

              <td>
                {{ item.code }}
              </td>


              <!-- Subject -->

              <td class="text-start">
                {{ item.subject }}
              </td>


              <!-- Credits -->

              <td>
                {{ item.credits }}
              </td>


              <!-- Grade -->

              <td>
                {{ item.grade }}
              </td>


              <!-- Pathway -->

              <td>
                {{ item.pathway }}
              </td>


              <!-- Description -->

              <td>

                <button
                  type="button"
                  class="course-table-link"
                  (click)="open(content, item)"
                  title="{{ item.code }} - {{ item.subject }}"
                >

                  Read More

                  <i
                    class="fa fa-arrow-circle-right ms-1"
                    aria-hidden="true"
                  ></i>

                </button>

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</section>


<!-- =========================================================
     COURSE DETAILS MODAL
========================================================= -->

<ng-template #content let-modal>

  <!-- =====================================================
       MODAL HEADER
  ====================================================== -->

  <div class="modal-header ie-modal-header">

    <h2 class="ie-title-blue modal-course-title">

      {{ selectedItem['code'] }}

      -

      {{ selectedItem['subject'] }}

    </h2>


    <button
      type="button"
      class="ie-modal-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >

      <i
        class="fa fa-times-circle"
        aria-hidden="true"
      ></i>

    </button>

  </div>


  <!-- =====================================================
       MODAL BODY
  ====================================================== -->

  <div class="modal-body ie-modal-body">

    <!-- ===================================================
         COURSE INFORMATION
    ==================================================== -->

    <div class="course-modal-details">

      <div class="course-modal-item">

        <span class="course-modal-label">
          Code
        </span>

        <strong>
          {{ selectedItem['code'] }}
        </strong>

      </div>


      <div class="course-modal-item">

        <span class="course-modal-label">
          Subject
        </span>

        <strong>
          {{ selectedItem['subject'] }}
        </strong>

      </div>


      <div class="course-modal-item">

        <span class="course-modal-label">
          Credits
        </span>

        <strong>
          {{ selectedItem['credits'] }}
        </strong>

      </div>


      <div class="course-modal-item">

        <span class="course-modal-label">
          Grade
        </span>

        <strong>
          {{ selectedItem['grade'] }}
        </strong>

      </div>


      <div class="course-modal-item">

        <span class="course-modal-label">
          Pathway
        </span>

        <strong>
          {{ selectedItem['pathway'] }}
        </strong>

      </div>

    </div>


    <!-- ===================================================
         DESCRIPTION
    ==================================================== -->

    <div class="course-modal-description">

      <h3 class="ie-title-red">
        Description
      </h3>

      <p class="text-justify mt-3">
        {{ selectedItem['description'] }}
      </p>

    </div>

  </div>


  <!-- =====================================================
       MODAL FOOTER
  ====================================================== -->

  <div class="modal-footer ie-modal-footer">

    <button
      type="button"
      class="ie-button"
      (click)="modal.close('Close click')"
    >

      Close

    </button>

  </div>

</ng-template>