<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/services.jpg" alt="" title="" style="width: 100%;">
    <h1 class="text-center text-primary mt-2 mb-3">Course - Grade 12</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered text-center table-center imgShadow-AllSides"
                    style="border-color:  rgb(246, 247, 247);">
                    <thead style="background-color:#e7e7e7">
                        <tr class="text-success">
                            <th>S.No.</th>
                            <th>Code</th>
                            <th>Subject</th>
                            <th>Credits</th>
                            <th>Grade</th>
                            <th>Pathway</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-primary"
                            *ngFor="let item of courses; let rowIndex = index">
                            <td>{{item.id}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.subject}}</td>
                            <td>{{item.credits}}</td>
                            <td>{{item.grade}}</td>
                            <td>{{item.pathway}}</td>
                            <td>
                                <a type="button" class="a-img-btn" (click)="open(content,item)"
                                    title="{{item.code}} - {{item.subject}}" style="text-decoration: none;">
                                    Read More .. <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <a type="button" class="btn close text-end" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
            class="fa fa-times-circle fa-lg"></i> </a>
    <div class="modal-body modalFormBgColor text-center">
        <table class="table table-bordered text-center table-center imgShadow-AllSides"
            style="border-color:  rgb(246, 247, 247);">
            <thead style="background-color:#e7e7e7">
                <tr class="text-success">
                    <th>Code</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Pathway</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-primary">
                    <td>{{selectedItem['code']}}</td>
                    <td>{{selectedItem['subject']}}</td>
                    <td>{{selectedItem['credits']}}</td>
                    <td>{{selectedItem['grade']}}</td>
                    <td>{{selectedItem['pathway']}}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-justify"><b class="text-danger">Description - </b>
                        {{selectedItem['description']}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
