<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/services.jpg" alt="" title="" style="width: 100%;">
    <h1 class="text-center text-primary mt-2 mb-3">Course - Grade 11</h1>
    <div class="container mt-4 mb-5">
        <div class="card-body text-center">
            <div class="row mb-5"
                *ngFor="let row of courses.slice(0, courses.length / noOfCols % 1 === 0 ? courses.length / noOfCols : courses.length / noOfCols + 1); let rowIndex = index">
                <div class="col-md-6"
                    *ngFor="let item of courses.slice(rowIndex * noOfCols, rowIndex * noOfCols + noOfCols)">
                    <a type="button" class="a-img-btn" (click)="open(content,item)" title="{{item.code}} - {{item.subject}}" style="text-decoration: none;">
                        <div class="card thumb-item imgShadow-AllSides">
                            <div class="card-header bg-transparent text-center text-primary">
                                <h5>{{item.code}} - {{item.subject}}</h5>
                            </div>
                            <div class="card-body thumb-item-image">
                                <div class="row">
                                    <div class="col-md-6 text-center text-success">
                                        <img class="imgShadow-AllSides"
                                            src="assets/images/{{item.source}}/{{item.id}}.jpg"
                                            style="width: 88%; border-radius: 5%;" />
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <table class="table table-bordered text-center table-center border-gray">
                                            <thead style="background-color:#e7e7e7">
                                                <tr class="text-danger">
                                                    <th colspan="2">Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="text-start text-success">Code</th>
                                                    <td>{{item.code}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-start text-success">Credits</th>
                                                    <td>{{item.credits}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-start text-success">Grade</th>
                                                    <td>{{item.grade}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-start text-success">Pathway</th>
                                                    <td>{{item.pathway}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="thumb-item-info">
                                    <h5 class="text-center mb-3"><b>Description</b></h5>
                                    <p class="text-justify">{{item.description}}</p>
                                    <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- <a type="button" class="a-img-btn" (click)="open(content,item)" style="text-decoration: none;">
                        <img src="assets/images/{{ item.source }}/{{ item.id }}.jpg" class="imgShadow-AllSides"
                            style="width: 100%; height: 100%; border-radius: 50%;">
                        <h3 class="mt-3 text-danger">{{ item.code}}</h3>
                        <h4 class="mt-3 text-success">{{ item.subject }} </h4>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <a type="button" class="btn close text-end" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
            class="fa fa-times-circle fa-lg"></i> </a>
    <div class="modal-body modalFormBgColor text-center">
        <table class="table table-bordered text-center table-center imgShadow-AllSides"
            style="border-color:  rgb(246, 247, 247);">
            <thead style="background-color:#e7e7e7">
                <tr class="text-success">
                    <th>Code</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Pathway</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-primary">
                    <td>{{selectedItem['code']}}</td>
                    <td>{{selectedItem['subject']}}</td>
                    <td>{{selectedItem['credits']}}</td>
                    <td>{{selectedItem['grade']}}</td>
                    <td>{{selectedItem['pathway']}}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-justify"><b class="text-danger">Description - </b>
                        {{selectedItem['description']}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

