<div class="page-position">
    <h1 class="text-center text-primary mt-2 mb-3">Grade 11 Course</h1>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="English - ENG3U">
                    <div class="card thumb-item imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>ENG3U - English</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/english.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>ENG3U</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>University</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course emphasizes the
                                    development of literacy,
                                    communication, and critical and creative thinking skills necessary
                                    for success in academic and daily life. You will analyse challenging
                                    literary texts from various periods, countries, and cultures, as
                                    well as a range of informational and graphic texts, and create
                                    written and media texts in a variety of forms. An important focus
                                    will be on using language with precision and clarity and
                                    incorporating stylistic devices appropriately and effectively. The
                                    course is intended to prepare you for the compulsory Grade 12
                                    university or college preparation course.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="MBF3C - Foundations for College Mathematics">
                    <div class="card thumb-item  imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>MBF3C - Foundations for College Mathematics</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides" src="assets/images/grade11/maths1.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>MBF3C</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>College</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    In this course, you will broaden your understanding of mathematics as a problem-solving tool in the real world. You will extend your understanding of quadratic relations; investigate situations involving exponential growth; solve problems involving compound interest; solve financial problems connected with vehicle ownership; develop your ability to reason by collecting, analyzing, and evaluating data involving one variable; connect probability and statistics; and solve problems in geometry and trigonometry. You will consolidate your mathematical skills as you solve problems and communicate your thinking.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="MCF3M - Functions and Applications">
                    <div class="card thumb-item imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>MCF3M - Functions and Applications</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/maths2.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>MCF3M</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>Mixed</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course introduces basic features of the function by extending your experiences with quadratic relations. It focuses on quadratic, trigonometric, and exponential functions and their use in modelling real-world situations. You will represent functions numerically, graphically, and algebraically; simplify expressions; solve equations; and solve problems relating to applications. You will reason mathematically and communicate your thinking as you solve multi-step problems.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="SPH3U - Physics">
                    <div class="card thumb-item  imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>SPH3U - Physics</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/physics.jpg"
                                        style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>SPH3U </td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>University</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    In this course, you will develop your understanding of the basic concepts of physics. You will explore kinematics, with an emphasis on linear motion; different kinds of forces; energy transformations; the properties of mechanical waves and sound; and electricity and magnetism. You will enhance your scientific investigation skills as you test laws of physics. In addition, you will analyze the interrelationships between physics and technology, and consider the impact of technological applications of physics on society and the environment.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="SCH3U - Chemistry">
                    <div class="card thumb-item imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>SCH3U - Chemistry</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/chemistry.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>SCH3U </td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>University</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course enables you to deepen your understanding of chemistry through the study of the properties of chemicals and chemical bonds; chemical reactions and quantitative relationships in those reactions; solutions and solubility; and atmospheric chemistry and the behaviour of gases. You will further develop your analytical skills and investigate the qualitative and quantitative properties of matter, as well as the impact of some common chemical reactions on society and the environment.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="SBI3U - Biology">
                    <div class="card thumb-item  imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>SBI3U - Biology</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/biology.jpg"
                                        style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>SBI3U</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>University</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course furthers your understanding of the processes that occur in biological systems. You will study theory and conduct investigations in the areas of biodiversity; evolution; genetic processes; the structure and function of animals; and the anatomy, growth, and function of plants. This course focuses on the theoretical aspects of the topics under study, and will help you refine your skills related to scientific investigation.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="ICS3U - Introduction to Computer Science">
                    <div class="card thumb-item imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>ICS3U - Introduction to Computer Science</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/computers.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>ICS3U</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>University</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    ICS3U introduces students to computer science. The ICS3U Curriculum will have Grade 11 Computer Science students design software independently and as part of a team, using industry-standard programming tools and applying the software development life-cycle model. They will also write and use subprograms within computer programs. ICS3U1 students will develop creative solutions for various types of problems as their understanding of the computing environment grows. They will also explore environmental and ergonomic issues, emerging research in computer science, and global career trends in computer-related fields.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="BAF3M - Financial Accounting Fundamentals">
                    <div class="card thumb-item  imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>BAF3M - Financial Accounting Fundamentals</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/accounts.jpg"
                                        style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>BAF3M</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>Mixed</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course introduces you to the fundamental principles and procedures of accounting. You will develop financial analysis and decision-making skills that will assist you in future studies and/or career opportunities in business. You will acquire an understanding of accounting for a service and a merchandising business, computerized accounting, financial analysis, and ethics and current issues in accounting.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a (click)="fnEnglishShow()" type="button" title="BDI3C - Introduction to Entrepreneurship">
                    <div class="card thumb-item imgShadow-AllSides">
                        <div class="card-header bg-transparent text-center text-primary">
                            <h5>BDI3C - Introduction to Entrepreneurship</h5>
                        </div>
                        <div class="card-body thumb-item-image">
                            <div class="row">
                                <div class="col-md-6 text-center text-success">
                                    <img class="imgShadow-AllSides"
                                        src="assets/images/grade11/entrepreneur.jpg" style="width: 100%; border-radius: 5%;" />
                                </div>
                                <div class="col-md-6 text-center">
                                    <table class="table table-bordered text-center table-center border-gray">
                                        <thead style="background-color:#e7e7e7">
                                            <tr class="text-danger">
                                                <th colspan="2">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-start text-success">Code</th>
                                                <td>BDI3C</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Credits</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Grade</th>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Pathway</th>
                                                <td>College</td>
                                            </tr>
                                            <tr>
                                                <th class="text-start text-success">Prerequisite</th>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="thumb-item-info">
                                <h5 class="text-center"><b>Description</b></h5>
                                <br>
                                <p class="text-justify">
                                    This course focuses on ways in which entrepreneurs recognize opportunities, generate ideas, and organize resources to plan successful ventures that enable them to achieve their goals. You will create a venture plan for a school-based or student-run business. Through hands-on experiences, you will have opportunities to develop the values, traits, and skills most often associated with successful entrepreneurs.
                                </p>
                                <p> Read More .. <i class="fa fa-arrow-circle-right"></i> </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- English -->

<div class="form-wrapper" *ngIf="showEnglish">
    <div class="form-addedit-800">
        <table class="table table-bordered text-center table-center imgShadow-AllSides"
            style="border-color:  rgb(246, 247, 247);">
            <thead style="background-color:#e7e7e7">
                <tr class="text-success">
                    <th>Subject</th>
                    <th>Code</th>
                    <th>Credits</th>
                    <th>Grade</th>
                    <th>Pathway</th>
                    <th>Prerequisite</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-primary">
                    <td>English</td>
                    <td>ENG3U</td>
                    <td>1</td>
                    <td>11</td>
                    <td>University</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td colspan="6" class="text-justify"><b class="text-danger">Description - </b> This course
                        emphasizes the development of literacy, communication, and critical and creative thinking skills
                        necessary for success in academic and daily life. You will analyse challenging literary texts
                        from various periods, countries, and cultures, as well as a range of informational and graphic
                        texts, and create written and media texts in a variety of forms. An important focus will be on
                        using language with precision and clarity and incorporating stylistic devices appropriately and
                        effectively. The course is intended to prepare you for the compulsory Grade 12 university or
                        college preparation course.</td>
                </tr>
            </tbody>
        </table>
        <div class="mt-3 text-end">
            <button class="btn btn-success" (click)="fnClose()"><i class="fa fa-check fa-1x"></i><small>&nbsp;Ok</small>
            </button>
            &nbsp;
            <button class="btn btn-danger" (click)="fnClose()"><i
                    class="fa fa-close fa-1x"></i><small>&nbsp;Close</small>
            </button>
        </div>
    </div>
</div>