<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/brainchecker/brainchecker-mit.jpg" alt="" title="" style="width: 100%;" />
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-2 mb-3">Caliber Intelligence Quotient Test (CIQT)</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <p class="text-justify">Brain Checker™ has put in over several years in designing and developing the Caliber Intelligence Quotient Test also known as CIQT. The Brain Checker Caliber Intelligence Quotient Test has been co-developed by Dr. Jonathan Oliver, PhD Psychology, USA , Dr. Jeffery Smith, PhD Psychology, UK and Brain Checker India. The Test has received validations from noted psychologists Dr. Peter Blair, Dr. Greg Wallace, having combined experience of over 50 years in Psychology. The CIQ Testing Program was specifically created for Indian Students keeping in mind our dynamic cultural differences, level of education & academic development of children which is largely different from western countries. Tests that have large scale acceptance in western countries are designed keeping the western education system in context, which then loses it's relevance in India due to our own unique education system.</p>
            </div>
            <div class="col-md-6 text-end">
                <iframe width="500" height="250" src="https://www.youtube.com/embed/jCXwYKnicpI" title="Brain Checker Caliber Intelligence Quotient Test CIQT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <p class="text-justify mt-3">CIQT is an India’s First Indianised proprietary test developed to understand the Intelligence Quotient of an Indian student. CIQT scores provide the parents with in-depth understanding of their child’s current academic caliber which in turn helps in sorting of compatible career choices. CIQT is a 60 minute test for students aged 13 years and above and is currently administered in India in 13 different languages. The purpose of CIQT Testing, Evaluation and Report in multiple languages is to make this program affordable and accessible to students in urban and rural markets in equal measure.</p>
        
        <h2 class="text-center text-primary mt-5 mb-5">CIQT Evaluates a Child on the following parameters:</h2>
        <div class="row mb-2">
            <div class="col-md-1">
                &nbsp;
             </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Retention</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Numerical Handling</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Sensing</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Word Understanding</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Spatial Observations</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
               &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                &nbsp;
             </div>
             <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Spatial Patterns</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Logical Analysis</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success small">Arithmetic Chronology</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Spatial Co-Relations</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h6 class="text-success">Creative Application</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
               &nbsp;
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">CIQT Highlights:</h3 >
                    <ul>
                        <li>India’s First Indianised IQ Test Center</li>
                       <li>Both Test & Report Available in 13 Indian Languages</li>
                       <li>First Indian Education Company Offering Tests & Reports in Urdu as well!</li>
                       <li>Ratifications & Accreditation from 4 International PhD Experts</li>
                       <li>Copyright Product of Brain Checker India</li>
                       <li>Appreciation Letter from Indian Government’s Jawaharlal Nehru University (JNU)</li>
                       <li>Offline Operational Capabilities</li>
                    </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Benefits of CIQT Report:</h3 >
                <ul>
                    <li>Understand your child’s caliber</li>
                    <li>10 Parameter Evaluation using India’s First Indianised IQ Test</li>
                    <li>Realistic Career Recommendations</li>
                    <li>100% Accurate Career Guidance</li>
                    <li>Stream Selection Assistance</li>
                    <li>Internationally Valid Caliber Score</li>
                </ul>
            </div>
        </div>
    </div>
</div>


