<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/brainchecker/brainchecker-mit.jpg" alt="" title=""
        style="width: 100%;" />
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-2 mb-3">Brain Checker Ignite</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <p class="text-justify">Career Counseling is one of the fastest growing sub-sectors within the Indian
                    Education Sector. With less than 10% parent’s opting for services offered by Certified & Trained
                    Career Counselor’s, the market is wide open for exploration.</p>
                <p class="text-justify">CBSE & NCERT in one of their recent survey’s have identified that there is a
                    projected shortage of over 15 Lakh Career Counsellors in India. A recent survey of parents whose
                    kids had undergone career counseling, found out that more than 73% parents wished for a career road
                    map for their child. Career Counselor’s are experts who are good at highlighting your strengths,
                    mapping your intelligence to suitable career choices, however as the Indian Middle Class matures and
                    parent’s look for specialised guidance and support keeping in mind the increased competitiveness, to
                    ensure their child’s overall success is increasing multi-fold. A Brain Checker Internal Survey of
                    over 890 parents, concluded that over 90% parents were willing to pay for helping their children
                    prepare a road map towards their career. With this in mind, Brain Checker has launched its flagship
                    program, designed by Psychologist and delivered online, named Brain Checker Ignite.</p>
            </div>
            <div class="col-md-6 text-end">
                <iframe width="555" height="350" src="https://www.youtube.com/embed/mxHt0VSigwE"
                    title="Brain Checker Ignite Program by Brain Checker Psychologists" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <p class="text-justify mt-2 mb-3">Brain Checker Ignite is Advanced Career Planning for studentswho want to have
            a clear-cut action plan, redefined into actionable steps focused at achieving the pre-decided career. It is
            designed for students who are studying between 7th to 12th standards and have attempted the Brain Checker
            Psychometric Assessment.</p>
        <p class="text-justify mb-3">Having a plan improves your success rate by over 260%. Hence in Brain Checker
            Ignite, we ensure that you gain access to 12 Personalised Career Planning Sessions with Qualified
            Psychologists who help you convert your identified career into a SMART Goal.</p>

        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Ignite Highlights:</h3>
                <ul>
                    <li>Fully Online 12 Session’s Goal Getting Program with Psychologists via Zoom</li>
                    <li>One Live Session Per Week (60-75 Minutes)</li>
                    <li>Activity Based Program with Child’s Active Involvement</li>
                    <li>Preparation of the Goal Book & Career Wheel by the 12th Session to structure one’s career</li>
                    <li>Key Feature: Two Sessions taken up by IIM-Ahmedabad Alumni on Goal Getting & Career Planning
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Ignite Benefits:</h3>
                <ul>
                    <li>Student’s work on assignments to help refine their career plan with expert guidance</li>
                    <li>Student’s conduct research and assimilate key deliverables in a structured manner</li>
                    <li>Program culminates into the Final Session being delivered by the Child to his/her parents!</li>
                    <li>100% Practical & Relevant Career Planning for Students who have completed the Brain Checker
                        Psychometric Assessment* (Pre-Requisite)</li>
                </ul>
            </div>
        </div>
    </div>
</div>