<div class="page-position">
    <h1 class="text-center text-primary mt-2">Frequently Asked Questions</h1>
    <div class="container mt-5 mb-5">
        <div class="row text-center">
            <div class="col-xs-12 col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question1">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true"
                                aria-controls="collapse1">
                                <span style="font-size: 15pt;"><b>What is a virtual online school?</b></span>
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="question1"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Virtual schools are available through the Internet and provide
                                    students
                                    the flexibility of anytime, anywhere access to rigorous, personalized education. In
                                    the
                                    virtual classroom, every student is actively engaged directly with the instructor,
                                    thereby
                                    offering a comprehensive and thorough understanding of each course taken.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question2">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                aria-controls="collapse2">
                                <span style="font-size: 15pt;"><b>Who approved International Ecademy?</b></span>
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="question2"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">International Ecademy is an Online High School in the Province of
                                    Ontario, Canada and has
                                    the
                                    authority through the Ontario Ministry of Education to grant credits toward the
                                    Ontario
                                    Secondary School Diploma. The Ministry of Education in Ontario inspects Ontario
                                    eSchool
                                    every two years. Our Ministry BSID# is 882694.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question3">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                aria-controls="collapse3">
                                <span style="font-size: 15pt;"><b>How does it work?</b></span>
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="question3"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Students can register online for any course at any time and
                                    progress
                                    through the course at their own pace. All of the course content is available online
                                    for
                                    students to work through. The assignments are all submitted to the online dropbox
                                    within the
                                    learning environment. Any tests or quizzes will also be completed online and will be
                                    open-book and timed. The final exam is also completed online under the supervision
                                    of an
                                    appropriate proctor. The student gets to choose the time, date and location of the
                                    final
                                    exam, but must have an approved proctor there to supervise as the exam is written
                                    online.
                                    When the course is finished, International Ecademy will send official copies of the final
                                    report
                                    card to the student’s home Address as well as back to the student’s home school
                                    (where
                                    applicable), where it can be added to the list of courses on the Ontario Student
                                    Transcript
                                    (OST).</p>
                                <p class="text-justify">Each course contains instructional content that covers all
                                    Ontario
                                    curriculum expectations. Assignments and tests will be placed throughout the course
                                    content
                                    for the student to work through and submit online. Interactive activities and
                                    multimedia
                                    elements are placed throughout the content to engage students, provide opportunities
                                    to
                                    practice understanding, and differentiate instruction.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question4">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                aria-controls="collapse4">
                                <span style="font-size: 15pt;"><b>Can I work at my own pace?</b></span>
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="question4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Students may opt to work at an accelerated, traditional or
                                    extended pace, however, regular work submission and communication is required in all
                                    International Ecademy courses in accordance Ontario Ministry of Education policies</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question5">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                                aria-controls="collapse5">
                                <span style="font-size: 15pt;"><b>Do I have to wait for school to begin to take an
                                        online class?</b></span>
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="question5"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">International Ecademy has on-going registration. You may start a
                                    course at any time throughout the year.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question6">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false"
                                aria-controls="collapse6">
                                <span style="font-size: 15pt;"><b>What are the graduation requirements?</b></span>
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="question6"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">To graduate with an Ontario Secondary School Diploma (OSSD) you
                                    must earn credits, participate in community involvement activities, and complete the
                                    provincial secondary school literacy requirement.
                                    Credits Needed to Graduate</p>
                                <p class="text-justify">Students must earn the following compulsory credits to obtain
                                    the Ontario Secondary School Diploma. The 40-hour Community Involvement Requirement
                                    As part of the diploma requirements, you must complete a minimum of 40 hours of
                                    community involvement activities. These activities may be completed at any time
                                    while you earn your secondary school credits.
                                    Ontario Secondary School Literacy Test (OSSLT)</p>
                                <p class="text-justify">All students must successfully complete the Ontario Secondary
                                    School Literacy Test (OSSLT) in order to earn a secondary school diploma. The test
                                    is based on Ontario curriculum expectations for language and communication,
                                    particularly reading and writing, up to and including grade 9.
                                <p class="text-justify">The OSSLT is the standard method for assessing the literacy
                                    skills of students in Ontario for the purpose of determining whether students meet
                                    the provincial secondary school literacy requirement for graduation. The test
                                    identifies students who have demonstrated the required skills in literacy as well as
                                    those who have not demonstrated the required skills and will need to do further
                                    work. The test identifies the specific areas in which these students need additional
                                    study.</p>
                                <p class="text-justify">Students who write the OSSLT but do not succeed must re-take the
                                    test and complete it successfully in order to qualify for a secondary school
                                    diploma. There is no limit to the number of times the test may be re-taken. Ontario
                                    Secondary School Literacy Course (OSSLC) The Ontario Secondary School Literacy
                                    Course (OSSLC) has been developed to provide students who have been unsuccessful on
                                    the OSSLT with intensive support in achieving the required reading and writing
                                    competencies, and with an alternative means of demonstrating their literacy skills.
                                    Students who have had two opportunities to take the OSSLT and have failed it at
                                    least once are eligible to enroll in the OSSLC.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question7">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false"
                                aria-controls="collapse7">
                                <span style="font-size: 15pt;"><b>Why do we need a virtual online high
                                        school?</b></span>
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="question7"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Since its inception, International Ecademy has provided students and
                                    schools options to reduce drop out rates, scheduling flexibility, expanded course
                                    offerings, and credit recovery options. An additional benefit we offer is the
                                    one-to-one communication between the instructor and student, which is vastly
                                    different from the instructor-student relationship in the traditional classroom
                                    environment. The virtual environment enables the instructor to get to know each
                                    student and challenge each student based upon his/her learning style, strengths and
                                    weaknesses. International Ecademy provides students with flexibility, choice, a
                                    personalized learning environment, and the opportunity to learn using the latest
                                    technology.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question8">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false"
                                aria-controls="collapse8">
                                <span style="font-size: 15pt;"><b>Who can attend International Ecademy?</b></span>
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="question8"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Any high school or adult student may apply to International Ecademy.
                                    International Ecademy will accept international high school and adult students. Part-time
                                    students may enroll in International Ecademy for academic enrichment, accelerate their
                                    progress in a traditional high school program or finish uncompleted coursework.
                                    Students who intend to graduate from International Ecademy may apply to pursue full time
                                    studies.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question9">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false"
                                aria-controls="collapse9">
                                <span style="font-size: 15pt;"><b>How does International Ecademy develop its
                                        curriculum?</b></span>
                            </button>
                        </h2>
                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="question9"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Our entire curriculum is developed by Ontario Certified Teachers
                                    (OCT) to meet all Ontario Ministry of Education policies and directives. In
                                    addition, International Ecademy’ instructors, administrators, students and parents
                                    continually evaluate the curriculum and coursework.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question10">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false"
                                aria-controls="collapse10">
                                <span style="font-size: 15pt;"><b>Can credits earned through International Ecademy count
                                        towards my high school graduation requirements?</b></span>
                            </button>
                        </h2>
                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="question10"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Yes, a student can earn a credit on every course taken. Ontario
                                    eSchool has the authority through the Ontario Ministry of Education to grant credits
                                    toward the Ontario Secondary School Diploma.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question11">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false"
                                aria-controls="collapse11">
                                <span style="font-size: 15pt;"><b>How do students interact with other students
                                        online?</b></span>
                            </button>
                        </h2>
                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="question11"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">International Ecademy supports student interaction. Our course
                                    management system (Brightspace) enables students to communicate with each other.
                                    Students can upload and share materials, hold online discussions and chats, and
                                    review assignments. This invaluable experience prepares students to easily adapt to
                                    a future academic or career environment in an expanding digital world.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question12">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false"
                                aria-controls="collapse12">
                                <span style="font-size: 15pt;"><b>Does International Ecademy have an enrollment/admission
                                        process?</b></span>
                            </button>
                        </h2>
                        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="question12"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Yes, International Ecademy serves both full-time and part-time
                                    students. To learn more about enrolling as a student, please visit our student
                                    registration page.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question13">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false"
                                aria-controls="collapse13">
                                <span style="font-size: 15pt;"><b>When can a student register for classes?</b></span>
                            </button>
                        </h2>
                        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="question13"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Students may register anytime at the school’s website.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question14">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false"
                                aria-controls="collapse14">
                                <span style="font-size: 15pt;"><b>When do classes start?</b></span>
                            </button>
                        </h2>
                        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="question14"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Start times are flexible. During the registration process,
                                    students can start their courses anytime meeting their educational goals.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question15">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false"
                                aria-controls="collapse15">
                                <span style="font-size: 15pt;"><b>Can students who dropped out of high school earn high
                                        school credits through International Ecademy?</b></span>
                            </button>
                        </h2>
                        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="question15"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Yes, these students are encouraged to apply to the International Ecademy. International Ecademy is available 24-7, offering flexible scheduling to complete
                                    coursework, and provides one-to-one interaction between the student and instructor,
                                    and as such is a viable option for older high school students who wish to earn a
                                    high school diploma without returning to the traditional classroom environment.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question16">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false"
                                aria-controls="collapse16">
                                <span style="font-size: 16pt;"><b>How many classes can a student take through Ontario
                                        eSchool?</b></span>
                            </button>
                        </h2>
                        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="question16"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">Full-time students take a full course load of 6-8 credits per
                                    year. Part-time students can be active in no more than 2 classes at one time and may
                                    not take more than 8 credits per year. Most of the courses are one-credit classes,
                                    however 0.5-credit classes are also offered.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question17">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false"
                                aria-controls="collapse17">
                                <span style="font-size: 17pt;"><b>What kind of courses can I take online?</b></span>
                            </button>
                        </h2>
                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="question17"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">International Ecademy offers more than 50 high school courses. There
                                    are many subjects available that may not be offered in your school. A complete list
                                    of courses, along with course descriptions, can be accessed at our website.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question18">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false"
                                aria-controls="collapse18">
                                <span style="font-size: 18pt;"><b>How does an online course work? Do I work at my own
                                        pace?</b></span>
                            </button>
                        </h2>
                        <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="question18"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">International Ecademy instructors guide students through the online
                                    coursework, and students can complete the work at their own pace, however, regular
                                    work submission and communication is required in all International Ecademy courses. The
                                    virtual learning environment enables the instructor to get to know each student and
                                    challenge each student based upon his/her learning style, strengths and weaknesses.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question19">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse19" aria-expanded="false"
                                aria-controls="collapse19">
                                <span style="font-size: 19pt;"><b>How long will I have to complete a course?</b></span>
                            </button>
                        </h2>
                        <div id="collapse19" class="accordion-collapse collapse" aria-labelledby="question19"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">The timeline for course completion will be flexible to meet the
                                    needs of students. Typically, students will complete a 1-credit course in about 6
                                    months or complete a 0.5-credit course in 12 weeks. Students could opt to accelerate
                                    the pace of these courses or request additional time if they find the coursework too
                                    challenging.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question20">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse20" aria-expanded="false"
                                aria-controls="collapse20">
                                <span style="font-size: 20pt;"><b>I have questions about courses, who should I
                                        contact?</b></span>
                            </button>
                        </h2>
                        <div id="collapse20" class="accordion-collapse collapse" aria-labelledby="question20"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">If you have questions about enrollment, registration, or
                                    courses, visit our web site and select the Contact Us page for an email contact or
                                    phone number.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="question21">
                            <button class="accordion-button text-success collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse21" aria-expanded="false"
                                aria-controls="collapse21">
                                <span style="font-size: 21pt;"><b>How does the instructor actively engage students in
                                        the online environment?</b></span>
                            </button>
                        </h2>
                        <div id="collapse21" class="accordion-collapse collapse" aria-labelledby="question21"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-justify">In the virtual classroom, every student is actively engaged with
                                    the instructor. Each student is directly accountable for every query, question or
                                    exercise. Unlike the traditional classroom where instructors communicate with
                                    several students at all different levels, at one time, virtual instructors are in
                                    constant, one-to-one communication with each student. This environment enables the
                                    instructor to become familiar with the student’s learning style and skills, and
                                    facilitate an effective, challenging learning opportunity for each student, at their
                                    own pace. Technically, instructors communicate with students through Ontario
                                    eSchool’ learning management system (Brightspace). The system enables instructors to
                                    upload and share materials, hold online discussions and chats, give quizzes and
                                    surveys, and gather and review assignments, and post grades. The system is password
                                    protected and meets stringent privacy and security standards to protect users.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>