<!-- =========================================================
     INTERNATIONAL ECADEMY
     VISION, MISSION & GOALS
========================================================= -->

<section class="ie-page vision-page">

  <div class="container">

    <!-- =====================================================
         VISION & MISSION
    ====================================================== -->

    <div class="row align-items-center vision-intro">

      <div class="col-md-5">

        <h1 class="ie-title-red">
          Lets Talk About
        </h1>

        <h1 class="ie-title-blue">
          Vision, Mission, Goals
        </h1>


        <ul class="ie-content-list mt-4">

          <!-- Vision -->

          <li>

            <strong class="ie-subtitle">
              Vision:
            </strong>

            <ul class="ie-inner-list">

              <li>
                To become a world leader in college education and
                to become an integral part of our student’s
                educational experience.
              </li>

            </ul>

          </li>


          <!-- Mission -->

          <li>

            <strong class="ie-subtitle">
              Mission:
            </strong>

            <ul class="ie-inner-list">

              <li>
                Our’s mission is to inspire our students to be
                Effective communicators, Critical and creative
                thinkers,
              </li>

              <li>
                Collaborate with others and become life long
                learners in full awareness of themselves within
                a global community.
              </li>

            </ul>

          </li>

        </ul>

      </div>


      <!-- Image -->

      <div class="col-md-1"></div>

      <div class="col-md-6 center-item">

        <img
          src="assets/images/about/vision.png"
          alt="International Ecademy Vision"
          class="ie-content-image vision-image"
        >

      </div>

    </div>


    <!-- =====================================================
         GOALS
    ====================================================== -->

    <div class="row vision-goals">

      <div class="col-md-12">

        <ul class="ie-content-list">

          <li>

            <strong class="ie-subtitle">
              Goals:
            </strong>


            <ul class="ie-inner-list">

              <li>
                Our curriculum focuses on helping learners acquire
                a set of broadly applicable skills that they can
                apply accordingly to whatever challenges they might
                face in their careers.
              </li>

              <li>
                Learning is no longer just a means of acquiring
                information; instead, teaching and learning methods
                – which have always been an important consideration
                in education.
              </li>

              <li>
                International Ecademy will invest most of their time
                and energy in creating the optimal conditions in
                which students make connections that constitute
                their own learning.
              </li>

              <li>
                This is a subtle, but important, shift that
                International Ecademy endeavours to incorporate
                in all their courses.
              </li>

              <li>
                be - lifelong learners, passionate, creative,
                persevere, ready to take risks.
              </li>

              <li>
                be able to - problem solve and think critically,
                look at thinks differently, work independently
                and with others, use the world around them well.
              </li>

              <li>
                have - integrity and self respect, moral courage.
              </li>

              <li>
                speak well, write well, read well, and work well
                with numbers.
              </li>

              <li>
                care and want to give back to their community.
              </li>

              <li>
                truly enjoy their life and their work.
              </li>

            </ul>

          </li>

        </ul>

      </div>

    </div>

  </div>

</section>