<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/about/vision.jpg" alt="" title="" style="width: 100%;">
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-4 mb-3">Vision</h1>
        <p class="text-justify">To become a world leader in college education and to become an integral part of our
            student’s
            educational experience.</p>
        <h1 class="text-center text-primary mt-4 mb-3">Mission</h1>
        <p class="text-justify">Our’s mission is to inspire our students to be effective communicators, critical and
            creative thinkers, collaborate with others and become life long learners in full awareness of themselves
            within a global community.</p>
        <h1 class="text-center text-primary mt-4 mb-3">Our Goals</h1>
        <p class="text-justify">Our curriculum focuses on helping learners acquire a set of broadly applicable skills
            that they can apply accordingly to whatever challenges they might face in their lives and careers. Students’
            high school years should principally be about learning how to learn and acquiring the competencies they need
            in order to do that effectively. Learning is no longer just a means of acquiring information; instead,
            teaching and learning methods – which have always been an important consideration in education – become more
            important than ever.</p>
        <h1 class="text-center text-primary mt-4 mb-3">Driver’s Seat</h1>
        <p class="text-justify">Our teacher supported courses assist and encourage students in the process of learning.
            In the high school courses that we envision, this will not often involve simply giving information to the
            learners for them to memorize. Instead, International Ecademy will invest most of their time and energy in
            creating the optimal conditions in which students make connections that constitute their own learning. This
            is a subtle, but important, shift that International Ecademy endeavours to incorporate in all their courses.
        </p>

        <h5 class="mt-4 mb-2 text-primary">Our goal is to prepare our students to reach their full potential in life.
            Students will:</h5>
        <br>
        <ul>
            <li>be lifelong learners</li>
            <li>be passionate</li>
            <li>be ready to take risks</li>
            <li>be able to problem solve and think critically</li>
            <li>be able to look at thinks differently</li>
            <li>be able to work independently and with others</li>
            <li>be creative</li>
            <li>have integrity and self respect</li>
            <li>persevere</li>
            <li>have moral courage</li>
            <li>be able to use the world around them well</li>
            <li>speak well, write well, read well, and work well with numbers</li>
            <li>care and want to give back to their community</li>
            <li>truly enjoy their life and their work.</li>
        </ul>
    </div>
</div>