/* =========================================================
   VISION IMAGE ALIGNMENT
========================================================= */

.vision-image {
  display: block;

  width: 75%;

  height: auto;

  margin:
    0 auto;

  border-radius: 10%;

  box-shadow:
    var(--ie-shadow);
}


/* Keep image vertically centered */
.vision-intro .center-item {
  display: flex;

  align-items: center;

  justify-content: center;

  height: 100%;
}