<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/brainchecker/brainchecker-mit.jpg" alt="" title="" style="width: 100%;" />
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-2">Dermatoglyphics Multiple Intelligence Test (DMIT)</h1>
        <p class="mt-4" >
            <marquee behavior="alternate" scrollDelay="200">
                <a type="button" class="btn btn-primary" href="https://calendly.com/internationalacademy05012025/book-a-slot" target="_blank" style="text-decoration: none;" title="MIT"><b style="font-size: 12pt; color: white;"><i class="fa fa-calendar"></i> &nbsp; Book Appointment.!</b></a>
            </marquee>
        </p>
        <div class="row mt-4">
            <div class="col-md-6">
                <br>
                <p class="text-justify">MIT or Multiple Intelligence Test is loosely based on the Theory of Multiple Intelligence proposed by world famous psychologist & authority in cognitive education Dr. Howard Gardner, PhD, Harvard University.</p>
                <br>
                <p class="text-justify">The concept of Multiple Intelligence Test is a amalgamation of Dermatoglyphics based inputs and statistical co-relation of the brain’s lobes with their respective intelligence based functions.</p>
                <br>
                <p class="text-justify">Brain Checker Multiple Intelligence Test is designed to act as a guidance factor for pro-active parents who are inquisitively looking forward to identify subtle traits of their children to assist in proper planning of their child’s career.</p>
            </div>
            <div class="col-md-6 center-item">
                <img class="a-info-style-image" src="assets/images/brainchecker/mit.png" title="" />
            </div>
        </div>
        <h2 class="text-start text-primary mb-4">WHAT IS DERMATOGLYPHICS?</h2>
        <p class="text-justify">The word Dermatoglyphics comes from two Greek words (derma, skin and glyph, carve) and refers to the friction ridge formations which appear on the palms of the hands and soles of the feet. Dermatoglyphics is the scientific study of fingerprints. The term was coined by Dr. Harold Cummins, the father of American fingerprint analysis, even though the process of fingerprint identification had already been used for several hundred years. All primates have ridged</p>
        <p class="text-justify">Personality can be traced early in the mother's womb, and it is reflected in fingerprints (Dermatoglyphics). Since each person's fingerprints are unique, we can understand one's innate potential, personality, and preferences by analyzing Dermatoglyphics. The study of fingerprints has become more common, therefore, some parents began to analyze their child's (or baby's) prints; with the intention to identify their potential early, and provide guidance accordingly to help expand their potential.</p>
        <p class="text-justify">Dermatoglyphics refers to fingerprints, palm prints & foot patterns</p>
        <div class="row mt-4">
            <div class="col-md-6 center-item">
                <img class="a-info-style-image" src="assets/images/brainchecker/mit1.jpg" title="" />
            </div>
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">WHAT IS MULTIPLE INTELLIGENCE?</h3>
                <br>
                <p class="text-justify">Medically it has been verified that the development of the brain, its lobes and fingerprints is done during the 7th and 21st week of pregnancy. Therefore there is a direct co-relation between the development of the brain and fingerprint. During the development the information is transcribed as our finger prints; that are unique for everyone.</p>
                <br>
                <p class="text-justify">With the Science of Dermatoglyphics one understands his or her hidden potential and talents. This is a science which studies the patterns of skins (dermal) ridges present on the fingers, toes and the soles of human.</p>
                <br>
                <p class="text-justify">It reveals the congenital links between our fingers and our intrinsic qualities and talents. By analyzing dermatoglyphics, we can accurately understand the distribution and amount of cells in the left and right brain of the cell, and predict where the potential lies.</p>
                <br>
                <p class="text-justify">Although everyone is bored with strengths and weaknesses; if they are identified early, we may further develop the strengths and improve our weakness, so that the left and right brain may grow in a more balanced and blend way.</p>
            </div>
        </div>
        <h2 class="text-center text-primary mt-5 mb-5">Dr. Howard Gardner’s 8 Multiple Intelligences</h2>
        <div class="row mb-2">
           
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Linguistic</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Logical</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Intrapersonal</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Visual-Spatial</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Musical</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Kinesthetic</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Interpersonal</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card imgShadow-AllSides" style="background-color: #f7f7f7">
                    <div class="card-body text-center">
                        <h4 class="text-success">Naturalist</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">What are the benefits of MIT Test?</h3 >
                    <p class="text-justify">The student and parent would be provided with a in-depth 41 Page Report, which shall highlight the following in-born/ innate information about the child:</p>
                    <ul>
                        <li>Break-Up of 8 Multiple Intelligences & their dominance</li>
                        <li>Brain Dominance</li>
                        <li>Preferred Learning Styles</li>
                        <li>Acquiring Methods</li>
                        <li>Personality Type</li>
                        <li>Neo-Cortex Distribution</li>
                        <li>TFRC</li>
                        <li>Evaluation using RAISEC Theory</li>
                        <li>Evaluation using McKenzie Theory</li>
                        <li>Career Recommendations</li>
                        <li>Extra Curricular Recommendations</li>
                        <li>Stream Selection Guidance</li>
                    </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-start text-primary mb-4">Features of Brain Checker’s MIT Test</h3 >
                <ul>
                    <li>41 Page Report</li>
                    <li>Available Languages: English, Hindi or Marathi</li>
                    <li>Accuracy Level: Up to 95%</li>
                    <li>Based on Latest 21 Types of Fingerprint Codification System</li>
                    <li>Highly Graphical & Illustrative Report</li>
                    <li>Counseling by Certified & Trained Counselor’s</li>
                    <li>Report Generation under guidance of PhD Experts</li>
                </ul>
            </div>
        </div>
    </div>
</div>

