<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/about/accredit.png" alt="" title="" style="width: 100%;">
    <div class="container mb-4">
        <h1 class="text-center text-primary mt-4 mb-3">International Ecademy Is Fully Accredited</h1>
        <p class="text-justify">It is a fully accredited, providing the canadian curriculum (Ontario Ministry of Education) which is in the Province of Ontario, Canada. Serving grades 11 and 12, we prepares students from around the world for success both in life and in their future intellectual pursuits.</p>
        <p class="text-center mt-5">
            <img class="imgShadow-AllSides" src="assets/images/accredit.jpg" alt="" title="">
        </p>
    </div>
</div>
