<nav *ngIf="displayMenu" class="navbar navbar-custom navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a routerLink="home"><img src="../assets/images/companylogo.png" style="width: 20%;" /></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
      aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link"> Home</a>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" id="menuAbout" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">About</a>
          <ul class="dropdown-menu" aria-labelledby="menuAbout">
            <li><a class="dropdown-item" routerLink="/about"> &nbsp;About International Ecademy
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/vision"> &nbsp;Our Vision, Mission & Goal
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/management"> &nbsp;Management
              </a></li>
            <!-- <li>
                <div class="dropdown-divider"></div>
              </li>
              <li><a class="dropdown-item" routerLink="/test"> &nbsp;Test
              </a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" id="menuBrainChecker" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">BrainChecker</a>
          <ul class="dropdown-menu" aria-labelledby="menuBrainChecker">
            <li><a class="dropdown-item" routerLink="/bcmit"> &nbsp;MIT
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bcbcpa"> &nbsp;Psychometric (BCPA)
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bcbest"> &nbsp;BEST
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bchpact"> &nbsp;H-PACT Potency
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bcciqt"> &nbsp;CIQT
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bcbrainstamina"> &nbsp;Brain Stamina
              </a></li>

            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/bcignite"> &nbsp;Ignite
              </a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" id="menuServices" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">Services</a>
          <ul class="dropdown-menu" aria-labelledby="menuServices">
            <li><a class="dropdown-item" routerLink="/grade11"> &nbsp;OSSD - Grade 11
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/grade12"> &nbsp;OSSD - Grade 12
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/englishacademy"> &nbsp;English Academy
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/erobotics"> &nbsp;E Robotics
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/paymentgateway"> &nbsp;Payment Gateway
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/faqs"> &nbsp;Frequently Asked Questions
              </a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a routerLink="register" class="nav-link text-success">Register</a>
        </li>

        <li class="nav-item">
          <a routerLink="contact" class="nav-link">Contact</a>
        </li>

        <li *ngIf="loginUser != null" class="nav-item dropdown" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" id="menuAdmin" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true"><span
              style="font-size: small; font-weight: normal;">[{{loginUser}}] </span>
            <i class="fa fa-user-circle fa-1x" title="User Profile"></i></a>
          <ul class="dropdown-menu" aria-labelledby="menuAdmin">
            <li>
              <span class="dropdown-item "><small class="text-success small"><i class="fa fa-user fa-lg"></i> &nbsp;
                  {{loginUser}} [User]</small></span>
            </li>
            <li>
              <span class="dropdown-item"><small class="text-success small"><i class="fa fa-gear fa-lg"></i>
                  &nbsp;{{loginUserRole}} [Role]</small></span>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/dashboard">
                &nbsp;Dash Board
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/students"> &nbsp;Students Data
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/receipt"> &nbsp;Receipts
              </a></li>
            <li><a class="dropdown-item" routerLink="/payment"> &nbsp;Payments
              </a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><a class="dropdown-item" routerLink="/role">
                &nbsp;Roles
              </a></li>
            <li><a class="dropdown-item" routerLink="/user">
                &nbsp;Users
              </a></li>
            <li><a class="dropdown-item" routerLink="/account"> &nbsp;Accounts
              </a></li>
            <li><a class="dropdown-item" routerLink="/paymentmode"> &nbsp;PaymentModes
              </a></li>
            <li><a class="dropdown-item" routerLink="/product"> &nbsp;Products
              </a></li>
            <li><a class="dropdown-item" routerLink="/grade"> &nbsp;Grades
              </a></li>
            <li><a class="dropdown-item" routerLink="/customer"> &nbsp;Customers
              </a></li>
          </ul>
        </li>

        <li *ngIf="loginUser == null" class="nav-item">
          <a routerLink="login" class="nav-link text-danger">Login</a>
        </li>

        <li *ngIf="loginUser != null" class="nav-item">
          <a routerLink="home" (click)="fnLogout()" class="nav-link text-danger">Signout</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div *ngIf="displayMenu" class="footer-style">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-md-2 text-start">
        <br>
        <p>
          <img src="../assets/images/logo.png" style="width: 100%;" />
        </p>
      </div>
      <div class="col-md-5 text-start">
        <table class="table table-bordered table-center border-gray text-primary" style="border-color: #F7F6F6;">
          <tbody>
            <tr>
              <td colspan="2" style="font-size: 17pt; font-weight: bold; color: green;">CONTACT DETAILS</td>
            </tr>
            <tr>
              <th class="text-start text-success"><i class="fa fa-volume-control-phone fa-lg"></i></th>
              <td class="text-start"> <b> +91 70935 41984, &nbsp; <i class="fa fa-whatsapp fa-lg text-success"></i>
                  +1 (647) 641-3585.</b></td>
            </tr>
            <tr>
              <th class="text-start text-success"><i class="fa fa-envelope fa-1x text-success"></i></th>
              <td class="text-start"><b>internationalecademy&#64;gmail.com</b></td>
            </tr>
            <tr>
              <th class="text-start text-success"><i class="fa fa-map-marker fa-lg"></i></th>
              <td class="text-start"><b> Unit.No - 406, 1833 Bayview Avenue, East York,<br>
                  Toronto, Ontario, Canada - M4G 3E2.</b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <app-message></app-message>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-start">
        Copyrights &copy; {{ year }}, {{ title }}, &reg; All Rights Reserved.
      </div>
      <div class="col-md-6 text-end">
        <p>Follows Us - <a href="#" target="_blank" title="Facebook Page"><i
              class="fa fa-facebook fa-lg"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/internationalecademy/" target="_blank" title="Instagram Page"><i
              class="fa fa-instagram fa-lg"></i></a>&nbsp;&nbsp;
          <a href="#" target="_blank" title="Youtube Page">
            <i class="fa fa-youtube-play fa-lg"></i></a>&nbsp;&nbsp;
          <!-- <a href="#" target="_blank" title="Twitter Page"><i class="fa fa-twitter fa-lg"></i></a> -->
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <button class="scroll-top" *ngIf="isBtnShow" (click)="goTop()" title="Go to top"><i
      class="fa fa-chevron-up"></i></button>
</div>