<nav class="navbar navbar-custom navbar-expand-lg fixed-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a routerLink="/home" (click)="collapseNavbar()">
      <img src="../assets/images/companylogo.png" class="img-fluid" style="max-width:120px;" alt="Company Logo" />
    </a>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
      aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar -->
    <div class="navbar-collapse collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">

        <!-- Home -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home" class="nav-link" (click)="collapseNavbar()">Home</a>
        </li>

        <!-- About -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="menuAbout" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About
          </a>

          <ul class="dropdown-menu" aria-labelledby="menuAbout">
            <li>
              <a class="dropdown-item" routerLink="/about" (click)="collapseNavbar()">
                About International Ecademy
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/vision" (click)="collapseNavbar()">
                Our Vision, Mission & Goal
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/management" (click)="collapseNavbar()">
                Management
              </a>
            </li>
          </ul>
        </li>

        <!-- Courses -->
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="menuCourses" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Courses
          </a>

          <ul class="dropdown-menu" aria-labelledby="menuCourses">
            <li><a class="dropdown-item" routerLink="/grade9" (click)="collapseNavbar()">Grade 9</a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li><a class="dropdown-item" routerLink="/grade10" (click)="collapseNavbar()">Grade 10</a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li><a class="dropdown-item" routerLink="/grade11" (click)="collapseNavbar()">Grade 11</a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li><a class="dropdown-item" routerLink="/grade12" (click)="collapseNavbar()">Grade 12</a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li><a class="dropdown-item" routerLink="/others" (click)="collapseNavbar()">Other Courses</a></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>

            <li><a class="dropdown-item" routerLink="/faqs" (click)="collapseNavbar()">Frequently Asked Questions</a>
            </li>
          </ul>
        </li>

        <!-- Register -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/register" class="nav-link text-success" (click)="collapseNavbar()">Register</a>
        </li>

        <!-- Contact -->
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/contact" class="nav-link" (click)="collapseNavbar()">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="footer-style">
  <div class="container mt-3 mb-3">
    <div class="row">

      <!-- Logo -->
      <div class="col-md-2 text-start">
        <br>
        <img src="../assets/images/logo.png" class="img-fluid" alt="Footer Logo" />
      </div>

      <!-- Contact -->
      <div class="col-md-5 text-start">
        <table class="table table-bordered text-primary" style="border-color: #F7F6F6;">
          <tbody>
            <tr>
              <th class="text-success"><i class="fa fa-phone"></i></th>
              <td>+91 70935 41984, <i class="fa fa-whatsapp text-success"></i> +1 (647) 641-3585</td>
            </tr>

            <tr>
              <th class="text-success"><i class="fa fa-envelope"></i></th>
              <td>internationalecademy@gmail.com</td>
            </tr>

            <tr>
              <th class="text-success"><i class="fa fa-map-marker"></i></th>
              <td>
                Unit.No - 406, 1833 Bayview Avenue, East York, Toronto, Ontario, Canada - M4G 3E2.
              </td>
            </tr>

            <tr>
              <th class="text-success"><i class="fa fa-map-marker"></i></th>
              <td>
                Plot No.21, 1st Floor, Sardar Patel Road, Paigah Colony, Hyderabad, Telangana, India - 500003.
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Message -->
      <div class="col-md-5">
        <app-message></app-message>
      </div>
    </div>

    <hr>

    <!-- Footer Bottom -->
    <div class="row">
      <div class="col-md-6 text-start">
        Copyrights &copy; {{ year }}, {{ title }}, ® All Rights Reserved.
      </div>

      <div class="col-md-6 text-end">
        <p>
          Follow Us -
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/internationalecademy/" target="_blank"><i
              class="fa fa-instagram"></i></a>&nbsp;&nbsp;
          <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Scroll Top Button -->
<button class="scroll-top" *ngIf="isBtnShow" (click)="goTop()" title="Go to top">
  <i class="fa fa-chevron-up"></i>
</button>