<div class="page-position">
    <h1 class="text-center text-primary">Users</h1>
    <div class="container">
        <div class="card border-primary">
            <form [formGroup]="usersForm" (ngSubmit)="fnAddEditFormSave()">
                <div class="card-header">
                    <i class="fa fa-file text-danger"></i>&nbsp;&nbsp;<b class="text-danger">{{formHeader}}</b>
                </div>
                <div class="card-body">
                    <div *ngIf="showAddEditForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label *ngIf="selAction != 'Add'" class="bold col-form-label-sm"
                                        for="txtUserId">Id:<span style="color: red;"> *</span></label>
                                    <input *ngIf="selAction != 'Add'"
                                        [readonly]="selAction != 'Add' ? 'readonly' : null" type="text"
                                        formControlName="txtUserId" placeholder="User ID"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtUserId'].errors }" />
                                    <div *ngIf="submitted && f['txtUserId'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtUserId'].errors['required']"><small>Req.</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bold col-form-label-sm" for="txtUserName">User.Name:<span
                                            style="color: red;"> *</span></label>
                                    <input type="text" formControlName="txtUserName" placeholder="User Name"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtUserName'].errors }" />
                                    <div *ngIf="submitted && f['txtUserName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtUserName'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtUserName'].errors['maxlength']"><small>Maximum 15 Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bold col-form-label-sm" for="txtPassword">Password:<span
                                            style="color: red;"> *</span></label>
                                    <input type="password" formControlName="txtPassword" placeholder="Password"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtPassword'].errors }" />
                                    <div *ngIf="submitted && f['txtPassword'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtPassword'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtPassword'].errors['maxlength']"><small>Maximum 15 Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtFirstName" class="col-form-label-sm">FirstName:<span class="lbl-req">
                                            *</span></label>
                                    <input type="text" formControlName="txtFirstName" placeholder="First Name"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtFirstName'].errors }" />
                                    <div *ngIf="submitted && f['txtFirstName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtFirstName'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtFirstName'].errors['maxlength']"><small>Maximum 50
                                                Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtLastName" class="col-form-label-sm">LastName:</label>
                                    <input type="text" formControlName="txtLastName" placeholder="Last Name"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtLastName'].errors }" />
                                    <div *ngIf="submitted && f['txtLastName'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtLastName'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtLastName'].errors['maxlength']"><small>Maximum 50 Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtPhone" class="col-form-label-sm">Phone:<span class="lbl-req">
                                            *</span></label>
                                    <input type="text" formControlName="txtPhone" placeholder="Phone"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtPhone'].errors }" />
                                    <div *ngIf="submitted && f['txtPhone'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtPhone'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtPhone'].errors['maxlength']"><small>Maximum 15 Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtEmail" class="col-form-label-sm">Email:<span class="lbl-req">
                                            *</span></label>
                                    <input type="text" formControlName="txtEmail" placeholder="Email"
                                        class="form-control form-control-sm"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtEmail'].errors }" />
                                    <div *ngIf="submitted && f['txtEmail'].errors" class="invalid-feedback">
                                        <div *ngIf="f['txtEmail'].errors['required']"><small>Req.</small></div>
                                        <div *ngIf="f['txtEmail'].errors['maxlength']"><small>Maximum 50 Char</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtRoleName" class="col-form-label-sm">Role:<span class="lbl-req">
                                            *</span></label>
                                    <ng-select class="input-group small" formControlName="txtRoleName"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtRoleName'].errors }">
                                        <ng-option *ngFor="let item of role"
                                            [value]="item.RoleId">{{item.RoleName}}</ng-option>
                                        <!-- <div *ngIf="f['txtRoleName'].errors['required']">Req.</div> -->
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtActive" class="col-form-label-sm">Active:<span class="lbl-req">
                                            *</span></label>
                                    <ng-select class="input-group small" formControlName="txtActive"
                                        [ngClass]="{ 'is-invalid': submitted && f['txtActive'].errors }">
                                        <ng-option *ngFor="let item of active"
                                            [value]="item.id">{{item.name}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label *ngIf="loginUserRoleId < 3" for="txtCreated"
                                        class="col-form-label-sm">Create:</label>
                                    <input *ngIf="loginUserRoleId < 3" type="text" readonly="true"
                                        formControlName="txtCreated" placeholder="Created"
                                        class="form-control form-control-sm"
                                        style="background-color: rgb(229, 235, 235);">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label *ngIf="loginUserRoleId < 3" for="txtModified"
                                        class="col-form-label-sm">Modify:</label>
                                    <input *ngIf="loginUserRoleId < 3" type="text" readonly="true"
                                        formControlName="txtModified" placeholder="Modified"
                                        class="form-control form-control-sm"
                                        style="background-color: rgb(229, 235, 235);">
                                </div>
                            </div>
                            <div class="col-md-4 text-end">
                                <div class="form-group">
                                    <br>
                                    <button *ngIf="selAction != 'View'" type="button" class="btn btn-primary save"
                                        (click)="fnAddEditFormSave()"><i
                                            class="fa fa-check fa-1x"></i><small>&nbsp;Submit</small>
                                    </button> &nbsp;
                                    <button *ngIf="selAction == 'Add'" type="reset" class="btn btn-success clear"
                                        (click)="fnAddEditFormClear()"><i
                                            class="fa fa-refresh fa-1x"></i><small>&nbsp;Clear</small>
                                    </button> &nbsp;
                                    <button class="btn btn-danger close" (click)="fnAddEditFormClose()"><i
                                            class="fa fa-close fa-1x"></i><small>&nbsp;Close</small>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showSearch">
                        <div class="row form-group">
                            <div class="col-md-2 text-end">
                                <label class="bold col-form-label-sm" for="txtSearch">Search Value:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" formControlName="txtSearch" placeholder="User Name"
                                    class="form-control form-control-sm" />
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="a-list-primay btn btn-secondary" (click)="fnSearch()"
                                    title="Search"><small><i class="fa fa-search fa-1x"></i>
                                        Search</small> </button> &nbsp;
                                <button type="reset" class="a-list-primay btn btn-success" (click)="fnClear()"
                                    title="Clear"><i class="fa fa-refresh fa-1x"></i><small>&nbsp;Clear</small></button>
                            </div>
                            <div class="col-md-4">
                                <div class="float-end">
                                    <button type="button" class="a-list-primay btn btn-primary" (click)="fnAdd()"
                                        title="Add"><i class="fa fa-plus-square fa-1x">
                                            <small>&nbsp;Add</small></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div *ngIf="users.length > 0" class="table-responsive">
                                <table
                                    class="table -sm table-sm table-hover table-bordered text-center"  style="font-size: 10pt;">
                                    <thead class="bg-light">
                                        <tr>
                                            <th *ngFor="let col of displayColumns"> <b>{{ col }}</b></th>
                                            <th *ngIf="loginUserRoleId < 3">Created</th>
                                            <th *ngIf="loginUserRoleId < 3">Modified</th>
                                            <th colspan="3">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of users; let i = index;">
                                            <td>{{ i+1 }}</td>
                                            <td>{{ (item['UserId'] == null || item['UserId'] == "") ? "-":
                                                item['UserId']
                                                }}
                                            </td>
                                            <td>{{ (item['UserName'] == null || item['UserName'] == "") ? "-":
                                                item['UserName']
                                                }}
                                            </td>
                                            <td>{{ (item['Password'] == null || item['Password'] == "") ? "-":
                                                item['Password'] }}
                                            </td>
                                            <td>{{ (item['FirstName'] == null || item['FirstName'] == "") ? "-":
                                                item['FirstName']
                                                }}</td>
                                            <td>{{ (item['LastName'] == null || item['LastName'] == "") ? "-":
                                                item['LastName'] }}</td>
                                            <td>{{ (item['Phone'] == null || item['Phone'] == "") ? "-": item['Phone']
                                                }}
                                            </td>
                                            <td>{{ (item['Email'] == null || item['Email'] == "") ? "-": item['Email']
                                                }}
                                            </td>
                                            <td>{{ (item['RoleId'] == null || item['RoleId'] == "") ? "-":
                                                item['RoleId'] }}
                                            </td>
                                            <td>{{ (item['RoleName'] == null || item['RoleName'] == "") ? "-":
                                                item['RoleName']
                                                }}</td>
                                            <!-- <td><input type="checkbox" [checked]="item['Active']" disabled="false" /></td> -->
                                            <td>{{ (item['Active'] == 1) ? "Yes" : "No" }}</td>
                                            <td *ngIf="loginUserRoleId < 3">{{ (item['Created'] == null ||
                                                item['Created']
                                                ==
                                                "") ? "-": item['Created'] }}
                                            <td *ngIf="loginUserRoleId < 3">{{ (item['Modified'] == null ||
                                                item['Modified']
                                                ==
                                                "") ? "-": item['Modified']
                                                }}
                                            </td>
                                            <td>
                                                <a class="link-primary" type="button" (click)="fnView(item)"
                                                    title="View"><i class="fa fa-eye fa-lg"></i></a>
                                            </td>
                                            <td *ngIf="loginUserRoleId < 3">
                                                <a class="link-success" type="button" (click)="fnEdit(item)"
                                                    title="Edit"><i class="fa fa-edit fa-lg"></i></a>
                                            </td>
                                            <td *ngIf="loginUserRoleId < 3">
                                                <a class="link-danger" type="button" (click)="fnDelete(item['UserId'])"
                                                    title="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="24" class="text-left">{{ users.length }} Row(s)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>