<div class="page-position">
    <img class="imgShadow-AllSides" src="assets/images/brainchecker/brainchecker-mit.jpg" alt="" title="" style="width: 100%;" />
    <div class="container mb-3">
        <h1 class="text-center text-primary mt-2">Psychometric Test (BCPA)</h1>
        <p class="mt-4" >
            <marquee behavior="alternate" scrollDelay="200">
                <a type="button" class="text-danger btn btn-primary" href="https://rzp.io/rzp/dtvGrwu8"
                target="_blank" style="text-decoration: none;" title="Psychometric (BPCA)"><b
                    style="font-size: 12pt; color: white;"><i class="fa fa-money fa-lg"></i> &nbsp; Pay
                    Online.!</b></a>
            </marquee>
        </p>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="text-justify">Brain Checker provide Psychometric Test is a unique assessment tool offering the test taker the opportunity to evaluate his or her own Intelligence, Personality and Occupational predispositions in English and in Hindi.</p>
                <p class="text-justify">Brain Checker Psychometric Assessment BCPA was designed by Dr. Jeffery Smith, PhD (Psychology) along with in house experts at Brain Checker. Dr. Smith has over 20 years of experience in designing and assessing psychological test and created the BCPA keeping in mind the Indian Students.</p>
                <h4 class="text-start text-primary mb-2">BCPA is :</h4>
                    <ul>
                        <li>Divided in 5 Sections</li>
                        <li>Includes CIQT and 2 Additional Tests</li>
                        <li>Offered in English, Hindi</li>
                        <li>Is a 90 Minute System Based (Offline) Test</li>
                        <li>Attested by PhD Experts</li>
                    </ul>
            </div>
            <div class="col-md-6 center-item">
                <img class="a-info-style-image" src="assets/images/brainchecker/bcpa.jpg" title="" style="width: 75%;" />
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <h5 class="text-start text-primary mb-3">CIQT Evaluates a Child on these parameters:</h5>
                    <ul>
                        <li>Retention</li>
                        <li>Numerical Handling</li>
                        <li>Sensing</li>
                        <li>Word Understanding</li>
                        <li>Spatial Observations</li>
                        <li>Spatial Patterns</li>
                        <li>Logical Analysis</li>
                        <li>Arithmetic Chronology</li>
                        <li>Spatial Co-Relations</li>
                        <li>Creative Application</li>
                        <li>Occupational Codes</li>
                        <li>Personality Type</li>
                    </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-start text-primary mb-3">Key Inclusions in the BCPA:</h5>
                <ul>
                    <li>Left Brain Score</li>
                    <li>Right Brain Score</li>
                    <li>Composite IQ Score</li>
                    <li>Cross Comparison with 200 Career Options</li>
                    <li>Holland’s Occupational Codes (RIASEC)</li>
                    <li>Personality Profile Assessment (16 Personalities Evaluation)</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-start text-primary mb-3">Benefits of BCPA:</h5>
                    <ul>
                        <li>Understand your child’s Caliber & Personality</li>
                        <li>10 Parameter Evaluation using India’s First Indianised IQ Test</li>
                        <li>Personality & Occupational Preference Evaluation</li>
                        <li>Realistic Career Recommendations</li>
                        <li>100% Accurate Career Guidance</li>
                        <li>Stream Selection Assistance</li>
                        <li>Internationally Valid Caliber Score</li>
                        <li>Internationally Valid Personality Classification</li>
                    </ul>
            </div>
        </div>

        <h3 class="text-primary mt-4 mb-3">What is a Psychometric Assessment?</h3>
        <p class="text-justify">Psychometric Assessment (also called psychometric test) is usually done to understand the characteristics of the candidate and the potential for prosperity in the job or overall career. Psychometric assessment comes in many forms and is a clear term for any examination aimed at measuring a person’s personality or cognitive skills. Psychometric assessments are widely used in career guidance and employment to match a person's abilities and personality to a suitable career or role.</p>
        
        <h3 class="text-primary mt-4 mb-3">Schedule Psychological Counseling</h3>
        <p class="text-justify">Schedule Psychological counseling to assess the development and intellectual abilities of young children so that early signs of special needs can be explored.</p>

        <h3 class="text-primary mt-4 mb-3">Why Psychological Counseling / Assessment / Test?</h3>
        <ul>
            <li>Personality Assessments</li>
            <li>Performance Measurements</li>
            <li>Career interests and aptitude</li>
            <li>Child development & identification of special needs</li>
        </ul>

        <h3 class="text-primary mt-4 mb-3">Career Guide Psychometric Test</h3>
        <p class="text-justify">Have you done Career Testing before choosing a career path? Psychometric test is usually done to understand the characteristics of the career guidance after 10th, 12th and graduation candidate and the potential for prosperity in the job or overall career. Psychometric Test / Assessment comes many forms and is a clear term for any examination aimed at measuring a person’s personality or cognitive skills.</p>

        <h3 class="text-primary mt-4 mb-3">Looking for Psychological Counseling Near You?</h3>
        <p class="text-justify">Are you Looking for Psychological Counseling Near You? You are at the right place. Book Online Counseling at Brain checker. Our Psychology Counseling is not to diagnose, but to help you understand whether mental health or emotional problems are of concern to you. This will be a guide for your therapy and your own assessment.</p>
    </div>
</div>

