<div class="page-position">
    <!-- Carousel Section -->
    <div class="row">
        <div class="col-md-12">
            <owl-carousel-o [options]="owlMain">
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/1.jpg" alt="" title="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/2.jpg" alt="" title="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/3.jpg" alt="" title="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/4.jpg" alt="" title="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/5.jpg" alt="" title="">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slide center-item">
                        <img class="imgShadow-AllSides" src="assets/images/home/6.jpg" alt="" title="">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <!-- End of Carousel Section -->

    <!-- Why Section -->
    <div style="background-color: #f7f7f7">
        <div class="container">
            <div class="row mt-1">
                <div class="col-xs-12 col-md-12">

                    <!-- Why Section points -->
                    <h1 class="text-center mt-3 text-primary">Why International Ecademy</h1>

                    <ul class="why-list mt-4 mb-4">
                        <li>
                            <i class="fa fa-check-circle text-success me-2"></i>
                            International Ecademy offers an exciting opportunity for students to earn a
                            Canadian curriculum certification — the Ontario Secondary School Diploma —
                            while studying from their home country.
                        </li>

                        <li>
                            <i class="fa fa-university text-primary me-2"></i>
                            This program serves as a strong foundation for students seeking admission
                            to top universities, opening doors to greater academic and career opportunities.
                        </li>

                        <li>
                            <i class="fa fa-graduation-cap text-info me-2"></i>
                            By obtaining this Canadian certification, students can strengthen their academic
                            credentials and gain a competitive advantage when applying to higher education
                            institutions locally and internationally.
                        </li>

                        <li>
                            <i class="fa fa-globe text-warning me-2"></i>
                            The Ontario Secondary School Diploma (OSSD) offered through International
                            Ecademy is recognized globally and supports university admissions worldwide.
                        </li>
                    </ul>
                    <!-- End of Why Section points -->

                    <!-- Universities -->
                    <div class="container mt-4">
                        <!-- NAV TABS -->
                        <nav>
                            <div class="nav nav-tabs nav-justified" role="tablist">
                                <button *ngFor="let country of countries; let i = index" class="nav-link"
                                    [class.active]="universityTabActiveIndex === i"
                                    (click)="universityTabActiveIndex = i" data-bs-toggle="tab"
                                    [attr.data-bs-target]="'#tab-' + country.id" type="button"
                                    [style.background]="universityTabActiveIndex === i ? '' : country.color">
                                    <h5 class="text-primary">
                                        <img [src]="'assets/images/universites/' + country.imageName + '.png'"
                                            class="me-2" style="width: 20%;">
                                        {{country.name}}
                                    </h5>
                                </button>
                            </div>
                        </nav>

                        <!-- TAB CONTENT -->
                        <div class="tab-content border p-3 bg-white">
                            <div *ngFor="let country of countries; let i = index" class="tab-pane fade"
                                [class.show]="i === 0" [class.active]="i === 0" [id]="'tab-' + country.id">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover small">
                                        <thead class="text-center text-primary">
                                            <tr>
                                                <th colspan="4">
                                                    <h5>
                                                        <img [src]="'assets/images/universites/' + country.imageName + '.png'"
                                                            class="me-2" style="width: 3%;">
                                                        Top Universities of {{ country.name }}
                                                        <img [src]="'assets/images/universites/' + country.imageName + '.png'"
                                                            class="ms-2" style="width: 3%;">
                                                    </h5>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>S.No</th>
                                                <th>University</th>
                                                <th>OSSD is Recognized as Admission requirement </th>
                                                <th>Minimum Entry</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let uni of country.universities; let i = index">
                                                <td class="text-center">{{ i+1 }}</td>
                                                <td>{{uni.name}}</td>
                                                <td class="text-center">
                                                    <span class="badge bg-success" *ngIf="uni.ossdRecognized">
                                                        Yes
                                                    </span>
                                                    <span class="ms-2">{{ uni.ossdRecognized ? '✔' : '✖' }}</span>
                                                </td>
                                                <td class="text-center">
                                                    <a [href]="uni.minEntryLink" target="_blank">
                                                        <i class="fa fa-hand-o-right fa-lg hand-icon me-2"></i>
                                                        <span
                                                            class="btn btn-sm btn-primary small"><b>{{uni.minEntry}}</b></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Of Universities -->

                    <!-- Course Tabs -->
                    <nav class="mt-4">
                        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                            <button class="nav-link" [class.active]="courseTabActive==='courses'"
                                (click)="courseTabActive='courses'" id="nav-courses-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-courses" type="button" role="tab" aria-controls="nav-courses"
                                aria-selected="true" [style.background]="courseTabActive==='courses' ? '' : '#D3D3D3'">
                                <h5 class="text-primary">Courses</h5>
                            </button>
                            <button class="nav-link" [class.active]="courseTabActive==='education'"
                                (click)="courseTabActive='education'" id="nav-education-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-education" type="button" role="tab" aria-controls="nav-education"
                                aria-selected="true"
                                [style.background]="courseTabActive==='education' ? '' : '#F79D9D'">
                                <h5 class="text-primary">Education</h5>
                            </button>
                            <button class="nav-link" [class.active]="courseTabActive==='online'"
                                (click)="courseTabActive='online'" id="nav-online-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-online" type="button" role="tab" aria-controls="nav-online"
                                aria-selected="false" [style.background]="courseTabActive==='online' ? '' : '#FFFD55'">
                                <h5 class="text-primary">Study Offline & Online</h5>
                            </button>
                            <button class="nav-link" [class.active]="courseTabActive==='benefits'"
                                (click)="courseTabActive='benefits'" id="nav-benifits-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-benifits" type="button" role="tab" aria-controls="nav-benifits"
                                aria-selected="false"
                                [style.background]="courseTabActive==='benefits' ? '' : '#90EE90'">
                                <h5 class="text-primary">Benefits </h5>
                            </button>
                            <button class="nav-link" [class.active]="courseTabActive==='approved'"
                                (click)="courseTabActive='approved'" id="nav-approved-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-approved" type="button" role="tab" aria-controls="nav-approved"
                                aria-selected="false"
                                [style.background]="courseTabActive==='approved' ? '' : '#9AE1F8'">
                                <h5 class="text-primary">Approved</h5>
                            </button>
                        </div>
                    </nav>
                    <div class="mb-4 tab-content p-3 border" id="nav-tabContent" style="background-color: white;">
                        <!-- Course -->
                        <div class="tab-pane fade active show mt-4 mb-4" id="nav-courses" role="tabpanel"
                            aria-labelledby="nav-courses-tab">
                            <div class="row text-center">

                                <div class="row justify-content-center text-center">

                                    <div class="col-6 col-sm-4 col-md-2" *ngFor="let grade of [9,10,11,12]">
                                        <a [routerLink]="'/grade' + grade" class="a-dull-style"
                                            style="text-decoration: none;" [title]="'Grade ' + grade + ' th'">
                                            <div class="card imgShadow-AllSides h-100 grade-card">
                                                <div
                                                    class="card-body d-flex flex-column align-items-center justify-content-center">
                                                    <i class="fa fa-graduation-cap fa-3x graduation-icon"></i>
                                                    <h5 class="mt-4 mb-3">Grade {{grade}} th</h5>
                                                    <small class="text-secondary">.. <i
                                                            class="fa fa-hand-o-right fa-lg hand-icon"></i>
                                                        &nbsp;<span>More</span></small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- End of Course -->

                        <!-- Education -->
                        <div class="tab-pane fade" id="nav-education" role="tabpanel"
                            aria-labelledby="nav-education-tab">
                            <div class="row mt-4 mb-4">
                                <div class="col-md-4">
                                    <div class="slide center-item">
                                        <img class="imgShadow-AllSides" src="assets/images/why/education.jpg" alt=""
                                            title="" style="width: 75%;">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul>
                                        <li>International Ecademy is providing the Canadian curriculum (Ontario
                                            Secondary School Diploma.) which can be done from India.</li>
                                        <li>We are collaborated with the Canadian institutions who are accredited to
                                            grant credits to students towards their Ontario Secondary School Diploma.
                                        </li>
                                        <li>We have highly experienced team of teachers committed to academic excellence
                                            and will prepare students to exceed their expectations and achieve
                                            outstanding success in a global community.</li>
                                        <li>Real time support from Indian & Canadian teachers, Live Teacher Support,
                                            Globally
                                            Recognized Curriculum.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Education -->

                        <!-- Online -->
                        <div class="tab-pane fade" id="nav-online" role="tabpanel" aria-labelledby="nav-online-tab">
                            <div class="row mt-4 mb-4">
                                <div class="col-md-1"> &nbsp; </div>
                                <div class="col-md-4">
                                    <div class="center-item">
                                        <img class="imgShadow-AllSides" src="assets/images/why/online.jpg" alt=""
                                            title="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul>
                                        <br>
                                        <li>Students will experience a World-class education at a less cost.</li>
                                        <li>Study at your own palce becoming a global digital student.</li>
                                        <li>No Stress, learn in the comfort of your home country.</li>
                                        <li>No peer pressure, just you and your teacher.</li>
                                        <li>Learn with our highly trained teachers assuring successful
                                            learning outcomes.</li>
                                        <li>Accumulate Certification before coming to Canada.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Online -->

                        <!-- Benifits -->
                        <div class="tab-pane fade" id="nav-benifits" role="tabpanel" aria-labelledby="nav-benifits-tab">
                            <div class="row mt-4 mb-4">
                                <div class="col-md-2">
                                    <div class="center-item">
                                        <img class="imgShadow-AllSides" src="assets/images/why/flexible.png" alt=""
                                            title="" style="width: 85%">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="text-primary text-center">Flexible</h5>
                                    <ul class="mt-4 mb-4">
                                        <li>Start any time you wish during the year.</li>
                                        <li>Work through your courses anytime and place.</li>
                                        <li>All learning materials are provided online. </li>
                                        <li>Just you required an internet connection & laptop.</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <div class="slide center-item">
                                        <img class="imgShadow-AllSides" src="assets/images/why/affordable.png" alt=""
                                            title="" style="width: 100%">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="text-primary text-center">Affordable</h5>
                                    <ul class="mt-3 mb-3">
                                        <li>Personal instructions at your convenience.</li>
                                        <li>All course material is supplied online.</li>
                                        <li>Live learning with a teacher.</li>
                                        <li>No Boarding Expenses, No Airfare Expenses.</li>
                                        <li>No Enormous Student Tuition Fees.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Benifits -->

                        <!-- Approved -->
                        <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab">
                            <div class="row mt-4 mb-4">
                                <div class="col-md-4">
                                    <div class="slide center-item">
                                        <img class="imgShadow-AllSides" src="assets/images/why/approved.jpg" alt=""
                                            title="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul class="mt-5 mb-5">
                                        <li>This certification is accepted at all North American Universities.</li>
                                        <li>It is also accepted by all world wide universities</li>
                                        <li>Learn from highly trained teachers assuring successful outcomes.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End of Approved -->
                    </div>
                    <!-- End of Course Tabs -->

                </div>
            </div>
        </div>
    </div>
    <!-- End of Why Section -->

    <!-- Universities Section -->
    <div class="container py-5">

        <!-- Heading -->
        <div class="text-center mb-4">
            <h1 class="text-primary">Admissions In Universities</h1>

            <p class="mt-4">
                International Ecademy provides the Canadian curriculum (Ontario Secondary School Diploma),
                which is recognized for university admissions worldwide.
            </p>
        </div>

        <!-- ✅ Wrapper (IMPORTANT for containment) -->
        <div class="logo-slider-wrapper">

            <!-- Slider Track -->
            <div class="logo-track">
                <ng-container *ngFor="let uni of universities.concat(universities)">
                    <img [src]="uni.src" [alt]="uni.name" [title]="uni.name" class="partner-logo">
                </ng-container>
            </div>

        </div>

    </div>
    <!-- End of Universities Section -->

    <!-- Management Message Section -->
    <div style="background-color: #f7f7f7">
        <br>
        <div class="container">

            <h1 class="text-primary text-center mb-4">Management's Message</h1>

            <ul class="management-list">

                <li>
                    <i class="fa fa-check-circle text-success me-2"></i>
                    We personally welcome you to International Ecademy as a valued member of our global Learning
                    community.
                </li>

                <li>
                    <i class="fa fa-graduation-cap text-primary me-2"></i>
                    International Ecademy provides the Canadian curriculum (Ontario Secondary School Diploma) which can
                    be completed from India.
                </li>

                <li>
                    <i class="fa fa-university text-info me-2"></i>
                    We collaborate with accredited Canadian institutions that grant credits toward the Ontario Secondary
                    School Diploma.
                </li>

                <li>
                    <i class="fa fa-users text-warning me-2"></i>
                    Our highly experienced team is committed to academic excellence and prepares students to achieve
                    success in a global community.
                </li>

                <li>
                    <i class="fa fa-globe text-primary me-2"></i>
                    In today's competitive world, education is transforming rapidly. International Ecademy equips
                    students with skills that provide a strong competitive advantage.
                </li>

                <li>
                    <i class="fa fa-star text-success me-2"></i>
                    We wish you the very best as you grow into an educated global citizen who contributes positively to
                    society.
                </li>

                <li>
                    <i class="fa fa-lightbulb-o text-warning me-2"></i>
                    Our mandate is to provide a Canadian-based Learning curriculum that helps students succeed in the
                    following areas:
                </li>

            </ul>

            <table class="mt-4 mb-4 table table-bordered text-center" style="border-color: rgb(130,203,245);">

                <thead style="background-color:#88c7f1">
                    <tr>
                        <th>S.No.</th>
                        <th>Details</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Post High School Education (University / College)</td>
                        <td>World of Work</td>
                        <td rowspan="2" style="vertical-align: middle;">
                            <a routerLink="/management" title="Management's Message" style="text-decoration:none;">
                                <i class="fa fa-hand-o-right fa-lg text-danger me-2"></i>
                                <span class="text-secondary">(Read more)</span>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Lifelong Learner</td>
                        <td>Global Citizen</td>
                    </tr>

                </tbody>

            </table>

        </div>
        <br>
    </div>
    <!-- End of Management Message Section -->

    <!-- Testimonial Section -->
    <div class="container">
        <h1 class="text-primary text-center mt-4 mb-5">Students Testimonial's</h1>
        <div class="row justify-content-center mb-2">

            <!-- Image Testimonial Card -->
            <div class="col-md-4 center-item mb-4">
                <a (click)="open(testimonialimage)" title="Testimonial about International Ecademy"
                    class="a-img-btn text-decoration-none">

                    <div class="card imgShadow-AllSides grade-card h-120">

                        <div class="card-body text-justify">

                            <!-- Student Photo -->
                            <div class="mb-3 text-center">
                                <img src="assets/images/testimonial/photo.png"
                                    style="width:80px; height:80px; border-radius:50%;">
                            </div>

                            <!-- Testimonial Text -->
                            <p class="text-primary mb-2" style="font-style:italic;">
                                I studied Grade 11 and 12 under the Canadian curriculum, and it was a very enriching
                                experience. The system focused on practical learning, critical thinking, and independent
                                study. I appreciated the flexibility in subject choices and the encouragement to
                                understand rather than just memorize.
                            </p>

                            <p class="text-primary mb-3" style="font-style:italic;">
                                Overall, it helped me gain admission to the following universities:
                            </p>

                            <!-- Universities List -->
                            <ul class="text-danger mb-3" style="padding-left:20px;">
                                <li>International Business University, Canada</li>
                                <li>Algoma University, Canada</li>
                            </ul>

                            <!-- Student Name -->
                            <h5 class="text-success mt-2">– Ponna Satish Reddy</h5>

                        </div>

                    </div>
                </a>
            </div>

            <!-- Video Testimonial Card -->
            <div class="col-md-4 center-item mb-4">
                <a (click)="open(testimonialvideo)" title="Video Testimonial" class="text-decoration-none">

                    <div class="card imgShadow-AllSides grade-card h-100">

                        <!-- Video Thumbnail -->
                        <div class="card-body text-center position-relative">
                            <img src="assets/images/testimonial/testimonialvideo.jpg"
                                style="width:55%; border-radius:5%; object-fit:cover;">

                            <!-- Play Icon Overlay -->
                            <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                                <i class="fa fa-play-circle fa-3x text-danger"></i>
                            </div>

                            <p class="text-secondary mt-3 mb-0">Watch Student Video Testimonial</p>
                        </div>

                    </div>

                </a>
            </div>

        </div>
    </div>
    <!-- End of Testimonial Section -->

    <!-- Partners Section -->
    <div class="container py-3">

        <!-- Heading -->
        <div class="text-center mb-4">
            <h1 class="text-primary">Our partnerships, driving impactful change..!</h1>
            <h4 class="text-success mt-4">Connecting talent with the industry's best</h4>
            <p class="mt-4 text-justify">
                Meet the people we work with. Strategic partnerships that create impactful change—curating a
                tailored network through International Ecademy to connect you with industry leaders and sustainable
                solutions.
            </p>
        </div>

        <!-- ✅ IMPORTANT WRAPPER -->
        <div class="logo-slider-wrapper">

            <!-- Slider Track -->
            <div class="logo-track d-flex align-items-center">
                <ng-container *ngFor="let logo of logos.concat(logos)">
                    <img [src]="logo.src" [alt]="logo.name" [title]="logo.name" class="partner-logo">
                </ng-container>
            </div>

        </div>

    </div>
    <!-- End of Partners Section -->
</div>

<ng-template #testimonialimage let-modal>
    <div class="text-center">
        <a type="button" class="btn close float-end" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
                class="fa fa-times-circle fa-lg"></i> </a>
    </div>
    <div class="modal-body center-item">
        <img src="assets/images/testimonial/testimonial.jpg" class="imgShadow-AllSides" width="100%" />
    </div>
</ng-template>

<ng-template #testimonialvideo let-modal>
    <div class="text-center">
        <a type="button" class="btn close float-end" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
                class="fa fa-times-circle fa-lg"></i> </a>
    </div>
    <div class="modal-body center-item">
        <video src="assets/images/testimonial/testimonial.mp4" class="imgShadow-AllSides" width="65%" autoplay
            controls></video>
    </div>
</ng-template>