<div class="center-screen">
    <div class="container shadow col-sm-3 col-md-2">
        <!-- <img src="assets/images/logo.png" title=" {{ title }} " class="mt-3 mb-1" style="width: 60%;"> -->
        <h5 class="mt-3 mb-4 text-primary">User Login</h5>
        <form [formGroup]="loginForm" (ngSubmit)="fnLogin()">
            <div class="input-group mt-3">
                <label for="txtUserName" class="input-group-text"><i class="fa fa-user"></i></label>
                <input type="text" formControlName="txtUserName" id="txtUserName" placeholder="User Name"
                    class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': submitted && f['txtUserName'].errors }" />
                <div *ngIf="submitted && f['txtUserName'].errors" class="invalid-feedback">
                    <div *ngIf="f['txtUserName'].errors['required']">Req.</div>
                    <div *ngIf="f['txtUserName'].errors['minlength']">Minimum 4 Char</div>
                    <div *ngIf="f['txtUserName'].errors['maxlength']">Maximum 15 Char</div>
                </div>
            </div>
            <div class="input-group mt-3">
                <label for="txtPwd" class="input-group-text"><i class="fa fa-key"></i></label>
                <input [type]="fieldTextType ? 'text' : 'password'" formControlName="txtPwd" placeholder="Password"
                    class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': submitted && f['txtPwd'].errors }" />
                <span class="input-group-text"><i class="fa"
                        [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}"
                        (click)="fnToggleFieldTextType()"></i></span>
                <div *ngIf="submitted && f['txtPwd'].errors" class="invalid-feedback">
                    <div *ngIf="f['txtPwd'].errors['required']">Req.</div>
                    <div *ngIf="f['txtPwd'].errors['minlength']">Minimum 4 Char</div>
                    <div *ngIf="f['txtPwd'].errors['maxlength']">Maximum 15 Char</div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-2 text-start">
                        &nbsp;
                    </div>
                    <div class="col-10 text-end">
                        <button type="button" class="btn btn-primary" (click)="fnLogin()" title="Login"><small><i
                                    class="fa fa-check-square fa-1x"></i>
                                Login</small> </button>&nbsp;
                        <button type="reset" class="btn btn-success" (click)="fnClear()" title="Clear"><small><i
                                    class="fa fa-refresh fa-1x"></i>
                                Clear</small> </button>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3">
                <div class="row">
                    <div class="col-6 text-start">
                        <small> <i class="fa fa-edit"></i> &nbsp;<a class="a-list-warning" routerLink='/home'
                                title="Don't have account..? Sing Up..!" style="text-decoration: none;">Sing
                                Up..!</a></small>
                    </div>
                    <div class="col-6 text-end">
                        <small> <i class="fa fa-user"></i> &nbsp;<a class="a-list-warning" routerLink='/home'
                                title="Forgot Password..?" style="text-decoration: none;">Forgot Pwd?</a></small>
                    </div>
                </div>
            </div>
           <!-- <hr>
            <div class="mb-2"><small class="text-secondary">{{ title }}</small></div> 
            <a type="button" class="text-primary" (click)="fnLogin()" title="Login">
                    <i class="fa fa-check-square fa-lg"></i>Login</a>
                &nbsp;
                <a type="button" class="text-success" type="reset" (click)="fnClear()" title="Clear"><i
                        class="fa fa-refresh fa-lg"></i>Clear</a>  -->
        </form>
    </div>
</div>