<div class="page-position">
    <h1 class="text-center text-primary">Contact</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 center-item">
                <img src="../assets/images/contact.png" style="width: 45%;" />
            </div>
            <div class="col-md-6 text-start">
                <br><br>
                <table class="table table-bordered text-center table-center border-gray text-primary">
                    <tbody>
                        <tr>
                            <th class="text-start text-success"><i class="fa fa-volume-control-phone fa-lg"></i></th>
                            <td class="text-start"> <b> +1 (647) 641-3585, &nbsp; <i
                                        class="fa fa-whatsapp fa-lg text-success"></i> +91 92906 68877.</b></td>
                        </tr>
                        <tr>
                            <th class="text-start text-success"><i class="fa fa-envelope fa-1x text-success"></i></th>
                            <td class="text-start"><b>internationalecademy&#64;gmail.com</b></td>
                        </tr>
                        <tr>
                            <th class="text-start text-success"><i class="fa fa-map-marker fa-lg"></i></th>
                            <td class="text-start"><b> Plot No. 21, 1st Floor, Paigah Colony Near by Anand Theater,<br>
                                    S.P. Road, Secunderabad - 500003. Telangana, India.</b></td>
                        </tr>
                        <tr>
                            <th class="text-start text-success"><i class="fa fa-globe fa-lg text-success"></i></th>
                            <td class="text-start"><a href="#" target="_blank" title="Facebook Page"><i
                                        class="fa fa-facebook fa-lg"></i></a>&nbsp;&nbsp;
                                <a href="#" target="_blank" title="Youtube Page">
                                    <i class="fa fa-youtube-play fa-lg"></i></a>&nbsp;&nbsp;
                                <a href="#" target="_blank" title="Twitter Page"><i
                                        class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;
                                <a href="#" target="_blank" title="Instagram Page"><i
                                        class="fa fa-instagram fa-lg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>