<!-- =========================================================
     INTERNATIONAL ECADEMY
     CONTACT PAGE
========================================================= -->

<section class="ie-page ie-contact-page">

  <div class="container">

    <!-- =====================================================
         PAGE HEADER
    ====================================================== -->

    <div class="text-center mb-4">

      <h1 class="ie-title-blue">
        Contact
      </h1>

    </div>


    <!-- =====================================================
         CONTACT CONTENT
    ====================================================== -->

    <div class="row align-items-center g-4">


      <!-- =================================================
           LEFT IMAGE
      ================================================== -->

      <div class="col-lg-4 col-md-5 col-12 text-center">

        <img
          src="assets/images/contact.png"
          alt="Contact International Ecademy"
          class="ie-contact-image"
          loading="lazy"
        >

      </div>


      <!-- =================================================
           RIGHT CONTACT INFORMATION
      ================================================== -->

      <div class="col-lg-8 col-md-7 col-12">

        <div class="ie-card ie-contact-card">


          <!-- =============================================
               CONTACT TABLE
          ============================================== -->

          <div class="ie-table-wrapper ie-contact-table-wrapper">

            <table class="ie-table ie-contact-table">

              <tbody>


                <!-- =========================================
                     PHONE
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-phone"></i>
                    Phone
                  </th>

                  <td>

                    <a
                      href="tel:+917093541984"
                      class="ie-contact-link"
                    >
                      +91 70935 41984
                    </a>

                  </td>

                </tr>


                <!-- =========================================
                     WHATSAPP
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-whatsapp"></i>
                    WhatsApp
                  </th>

                  <td>

                    <a
                      href="https://wa.me/16476413585"
                      target="_blank"
                      rel="noopener"
                      class="ie-contact-link"
                    >
                      +1 647 641 3585
                    </a>

                  </td>

                </tr>


                <!-- =========================================
                     EMAIL
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-envelope"></i>
                    Email
                  </th>

                  <td>

                    <a
                      href="mailto:internationalecademy@gmail.com"
                      class="ie-contact-link"
                    >
                      internationalecademy@gmail.com
                    </a>

                  </td>

                </tr>


                <!-- =========================================
                     CANADA ADDRESS
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-map-marker"></i>
                    Canada
                  </th>

                  <td>
                    Unit No - 406, 1833 Bayview Avenue,
                    East York, Toronto, Ontario, Canada - M4G3E2
                  </td>

                </tr>


                <!-- =========================================
                     INDIA ADDRESS
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-map-marker"></i>
                    India
                  </th>

                  <td>
                    Plot No.21, 1st Floor, Sardar Patel Road,
                    Paigah Colony, Hyderabad, Telangana,
                    India - 500003
                  </td>

                </tr>


                <!-- =========================================
                     SOCIAL MEDIA
                ========================================== -->

                <tr>

                  <th>
                    <i class="fa fa-globe"></i>
                    Connect
                  </th>

                  <td>

                    <div class="ie-contact-social">

                      <a
                        href="#"
                        class="ie-social-link"
                        title="Facebook"
                        aria-label="Facebook"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>

                      <a
                        href="#"
                        class="ie-social-link"
                        title="Instagram"
                        aria-label="Instagram"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>

                      <a
                        href="#"
                        class="ie-social-link"
                        title="YouTube"
                        aria-label="YouTube"
                      >
                        <i class="fa fa-youtube-play"></i>
                      </a>

                    </div>

                  </td>

                </tr>


              </tbody>

            </table>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>