/* Subtle shadow and top+bottom effect */
.contact-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
    background: #fdfdfd;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.04),
        /* subtle top shadow */
        0 6px 15px rgba(0, 0, 0, 0.08);
    /* subtle bottom shadow */
}

.contact-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.06),
        0 10px 25px rgba(0, 0, 0, 0.12);
}

.icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #e6f7ee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background 0.3s;
}

.icon-circle-social:hover {
    transform: scale(1.2);
    background: #e6f7ee;
}

.page-position a:hover {
    text-decoration: none;
}

@media(max-width:768px) {
    .d-flex {
        flex-direction: column !important;
    }

    .contact-card {
        text-align: left !important;
    }
}