/* You can add global styles to this file, and also import other style files */

/* For Ng Select component */
@import "~@ng-select/ng-select/themes/default.theme.css";

.icon-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F7F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lbl-req {
    color: red;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 94vh;
    padding: 15px;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify;
}

.sideHeading {
    font-size: 16pt;
    font-weight: bold;
    color: blue;
}

.page-position {
    padding-top: 65px;
    padding-bottom: 20px;
}

.table-appearance {
    font-size: 9pt;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.footer-style {
    background-color: #F7F6F6;
    padding: 3px 0;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

/* Scrolling to Top Button */
.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    border-color: #C5C6C6;
    outline: none;
    background: #0086CA;
    color: #fff;
    transition: background 0.5s;
    padding: 6px 12px 9px 12px;
}

.scroll-top:focus {
    background: #0086CA;
    color: #fff;
    outline: none;
}

.scroll-top:hover {
    background: #E51A4B;
    color: #fff;
}
/* End of Scrolling to Top Button */

.imgShadow-AllSides {
    border: 5px solid #fff;
    box-shadow: 0 0 15px #ccc;
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    -o-box-shadow: 0 0 15px #ccc;
}

/* Anchor Style Dull - 1 */

.a-dull-style {
    opacity: 1;
  }
  
  .a-dull-style:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  
  /* End of Anchor Style Dull - 1 */

  /* Anchor Style Info - 2 */

.a-info-style {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .a-info-style-image {
    width: 50%100%;
  }
  
  .a-info-style-info {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    opacity: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 20px 20px;
  }
  .a-info-style-info h5 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .a-info-style-info p {
    font-size: 14px;
    margin: 4px 0 14px;
  }
  
  .a-info-style:hover .a-info-style-info {
    background-color: black;
    border: 2px solid rgb(254, 133, 6);
    color: white;
    opacity: .75;
    bottom: -5px;
    transition: opacity 1s;
  }
  
  /* End of Anchor Style Info - 2 */

  /* Anchor Style Enlarge - 3 */

.a-enlarge-style {
    transition: transform .2s; /* Animation */
  }
  
  .a-enlarge-style:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  /* End of Anchor Style Enlarge - 3 */