<div class="page-position">
    <h1 class="text-center text-primary mt-2 mb-4 heading-shadow">Registration</h1>
    <div class="container mb-2">
        <div class="row align-items-center g-4">
            <!-- Left Image -->
            <div class="col-md-6 d-flex justify-content-center">
                <img class="imgShadow-AllSides rounded" src="assets/images/register.png" alt="Register" title="Register"
                    style="width: 90%; max-height: 100%;">
            </div>

            <!-- Right Registration Button -->
            <div class="col-md-6 d-flex justify-content-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyGEa_oCk8PdMGrwGTfF-LB0AkE9hedAyLUzSMO6uCmJp-Rg/viewform?usp=dialog"
                    target="_blank"
                    class="btn-register text-decoration-none d-flex align-items-center justify-content-center">
                    <b class="button-heading-font">Click here to register</b>
                </a>
            </div>
        </div>
    </div>
</div>