<div class="page-position">
    <h1 class="text-center text-primary mt-4 mb-5">Registration</h1>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 center-item">
                <img class="imgShadow-AllSides" src="assets/images/register.png" alt="" title="">
            </div>
            <div class="col-md-6 float-end">
                <br><br>
                <h3 class="text-center text-success">Click on below link for register</h3>
                <br><br>
                <h5 class="text-center">
                    <a class="text-danger" href="https://forms.gle/DvLuxcvBoBwi6rC86" title="Click to Register"
                        target="_blank" style="text-decoration: none;"> https://forms.gle/DvLuxcvBoBwi6rC86</a>
                </h5>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card border-primary">
    <form [formGroup]="registerForm" (ngSubmit)="fnPayment()">
        <div class="card-header">
            <i class="fa fa-list text-success"></i>&nbsp;&nbsp;<b class="text-success"> New Registration </b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bold col-form-label-sm" for="txtStuName">Stu.Name:<span style="color: red;">
                                *</span></label>
                        <input type="text" formControlName="txtStuName" placeholder="Student Name"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtStuName'].errors }" />
                        <div *ngIf="submitted && f['txtStuName'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtStuName'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtStuName'].errors['maxlength']"><small>Maximum 50
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bold col-form-label-sm" for="txtFName">Father.Name:<span style="color: red;">
                                *</span></label>
                        <input type="text" formControlName="txtFName" placeholder="Father Name"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtFName'].errors }" />
                        <div *ngIf="submitted && f['txtFName'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtFName'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtFName'].errors['maxlength']"><small>Maximum 50
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtDOR" class="col-form-label-sm">Dt.Reg.:<span class="lbl-req">
                                *</span></label>
                        <div class="input-group">
                            <input type="text" formControlName="txtDOR" placeholder="Date of Registration"
                                class="form-control form-control-sm" bsDatepicker #dpDOR="bsDatepicker"
                                [bsConfig]="datePickerConfig"
                                [ngClass]="{ 'is-invalid': submitted && f['txtDOR'].errors }" />
                            <button type="button" class="input-group-text" (click)="dpDOR.show()"><i
                                    class="fa fa-calendar"></i></button>
                            <div *ngIf="submitted && f['txtDOR'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtDOR'].errors['required']"><small>Req.</small>
                                </div>
                                <div *ngIf="f['txtDOR'].errors['maxlength']"><small>Maximum 12
                                        Char</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtPhone" class="col-form-label-sm">Phone:<span class="lbl-req">
                                *</span></label>
                        <input type="text" formControlName="txtPhone" placeholder="Phone"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtPhone'].errors }" />
                        <div *ngIf="submitted && f['txtPhone'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtPhone'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtPhone'].errors['maxlength']"><small>Maximum 15
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtEmail" class="col-form-label-sm">Email:<span class="lbl-req">
                                *</span></label>
                        <input type="text" formControlName="txtEmail" placeholder="Email"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtEmail'].errors }" />
                        <div *ngIf="submitted && f['txtEmail'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtEmail'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtEmail'].errors['maxlength']"><small>Maximum 50
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bold col-form-label-sm" for="txtSchool">School:<span style="color: red;">
                                *</span></label>
                        <input type="text" formControlName="txtSchool" placeholder="School Name"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtSchool'].errors }" />
                        <div *ngIf="submitted && f['txtSchool'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtSchool'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtSchool'].errors['maxlength']"><small>Maximum 50
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="bold col-form-label-sm" for="txtArea">Area:<span style="color: red;">
                                *</span></label>
                        <input type="text" formControlName="txtArea" placeholder="Area"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': submitted && f['txtArea'].errors }" />
                        <div *ngIf="submitted && f['txtArea'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtArea'].errors['required']"><small>Req.</small></div>
                            <div *ngIf="f['txtArea'].errors['maxlength']"><small>Maximum 50
                                    Char</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtActive" class="col-form-label-sm">Active:<span class="lbl-req">
                                *</span></label>
                        <ng-select class="input-group small" formControlName="txtActive"
                            [ngClass]="{ 'is-invalid': submitted && f['txtActive'].errors }">
                            <ng-option *ngFor="let item of active" [value]="item.id">{{item.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['txtActive'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtActive'].errors['required']"><small>Req.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtGrade" class="col-form-label-sm">Grade:<span class="lbl-req">
                                *</span></label>
                        <ng-select class="input-group small" formControlName="txtGrade"
                            [ngClass]="{ 'is-invalid': submitted && f['txtGrade'].errors }">
                            <ng-option *ngFor="let item of grade" [value]="item.id">{{item.name}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['txtGrade'].errors" class="invalid-feedback">
                            <div *ngIf="f['txtGrade'].errors['required']"><small>Req.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 text-primary">
                    <h5>Payment Details</h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtExamLevel" class="col-form-label-sm">ExamLevel:<span class="lbl-req">
                                    *</span></label>
                            <ng-select class="input-group small" formControlName="txtExamLevel"
                                (change)='fnExamLevelSelected($event)'
                                [ngClass]="{ 'is-invalid': submitted && f['txtGrade'].errors }">
                                <ng-option *ngFor="let item of examLevelFees"
                                    [value]="item.FeesId">{{item.ExamLevel}}</ng-option>
                            </ng-select>
                            <div *ngIf="submitted && f['txtExamLevel'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtExamLevel'].errors['required']"><small>Req.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bold col-form-label-sm" for="txtRegistrationAmt">Reg.Books.Amt:<span
                                    style="color: red;"> *</span></label>
                            <input readonly type="text" formControlName="txtRegistrationAmt"
                                placeholder="Registration & Books Amount" class="form-control form-control-sm"
                                style="background-color: rgb(226, 226, 226);"
                                [ngClass]="{ 'is-invalid': submitted && f['txtRegistrationAmt'].errors }" />
                            <div *ngIf="submitted && f['txtRegistrationAmt'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtRegistrationAmt'].errors['required']"><small>Req.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bold col-form-label-sm" for="txtTuitionAmt">Tuition.Amt:<span
                                    style="color: red;"> *</span></label>
                            <input type="text" formControlName="txtTuitionAmt" placeholder="Tuition Amount"
                                class="form-control form-control-sm" style="background-color: rgb(226, 226, 226);"
                                [ngClass]="{ 'is-invalid': submitted && f['txtTuitionAmt'].errors }" />
                            <div *ngIf="submitted && f['txtTuitionAmt'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtTuitionAmt'].errors['required']"><small>Req.</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bold col-form-label-sm" for="txtTotalAmt">Total Amount:<span
                                    style="color: red;"> *</span></label>
                            <input type="text" formControlName="txtTotalAmt" placeholder="Total Amount"
                                class="form-control form-control-sm" style="background-color: rgb(226, 226, 226);"
                                [ngClass]="{ 'is-invalid': submitted && f['txtTotalAmt'].errors }" />
                            <div *ngIf="submitted && f['txtTotalAmt'].errors" class="invalid-feedback">
                                <div *ngIf="f['txtTotalAmt'].errors['required']"><small>Req.</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label *ngIf="loginUserRoleId < 3" for="txtCreated"
                                class="col-form-label-sm">Create:</label>
                            <input *ngIf="loginUserRoleId < 3" type="text" readonly="true" formControlName="txtCreated"
                                placeholder="Created" class="form-control form-control-sm"
                                style="background-color: rgb(229, 235, 235);">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label *ngIf="loginUserRoleId < 3" for="txtModified"
                                class="col-form-label-sm">Modify:</label>
                            <input *ngIf="loginUserRoleId < 3" type="text" readonly="true" formControlName="txtModified"
                                placeholder="Modified" class="form-control form-control-sm"
                                style="background-color: rgb(229, 235, 235);">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group float-end">
                            <br>
                            <button type="button" class="btn btn-primary save" (click)="fnPayment()"><i
                                    class="fa fa-check fa-1x"></i><small>&nbsp;Pay & Proceed</small>
                            </button> &nbsp;
                            <button type="reset" class="btn btn-success clear" (click)="fnClear()"><i
                                    class="fa fa-refresh fa-1x"></i><small>&nbsp;Clear</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> -->

<div class="form-wrapper" *ngIf="showRegisterForm">
    <div class="form-addedit-600">

        <h2 class="text-start mb-3"><i class="fa fa-edit fa-lg text-success"></i> &nbsp; &nbsp;<span
                class="text-primary">How to Register.!</span></h2>
        <h5 class="text-success mt-4">Please follow the guidelines..!</h5>
        <ul class="mt-4">
            <li>1. Instruction to Registration.</li>
            <li>2. Instruction to Registration.</li>
            <li>3. Instruction to Registration.</li>
            <li>4. Instruction to Registration.</li>
        </ul>
        <ul class="mt-3">
            <li>1. Instruction to Registration.</li>
            <li>2. Instruction to Registration.</li>
            <li>3. Instruction to Registration.</li>
            <li>4. Instruction to Registration.</li>
        </ul>
        <div class="mt-3 text-end">
            <button class="btn btn-success" (click)="fnClose()"><i class="fa fa-check fa-1x"></i><small>&nbsp;Ok</small>
            </button>
            &nbsp;
            <button class="btn btn-danger" (click)="fnClose()"><i
                    class="fa fa-close fa-1x"></i><small>&nbsp;Close</small>
            </button>
        </div>
    </div>
</div>